@import "fonts.scss";

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
::before,
::after, input, ul {
    font-family:  'GothamPro', 'Roboto', 'Roboto Condensed',  Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
}

::before,
::after {
    font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 1px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
}

p {
    line-height: 1.5em;
}

div,
body, section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width:100%;
    position: relative;
    z-index: 1;
    min-height: 100vh;
    overflow: hidden;
    
    @media screen and (max-width:800px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    height: auto;
}

.WebGL_container {
    position: fixed;
    left: 0;
    top: 0;
    height:100%;
    width:100%;
    overflow: hidden;
    display: none;
    
    &.scene {
        position: fixed;
        display: block;
    }
    
    &.stars {
        z-index: 1;
        position: fixed;
    }
    
    
    &.circle_field {
        position: fixed;
    }
}

.section_full {
    height: 100vh;
    overflow: hidden;
    //position: absolute;
    //left:0;
    //top: 100vh;
}

$grey: #414448;
$light_grey: #909399;
$main_color: #0093D3;


.no_scroll {
    overflow: hidden;
}


.left_navigation_button {
    border-radius: 30px;
    width: 40px;
    height: 40px;
    position: fixed;
    left: 103px;
    top: calc(20% - 70px);
    z-index: 6;
    cursor: pointer;
    transition: all 400ms cubic-bezier(0,0,.26,1);
    
    @media screen and (max-width:900px) {
        left: 50px;
    }
    
    .line {
        background: #fff;
        width: 20px;
        height: 1px;
        position: absolute;
        left: 9.5px;
        top: 15px;
        transition: background 300ms;
    }
    
    .line:nth-child(2) {
        top: 20px;
    }
    .line:nth-child(3) {
        top: 25px;
    }
    
    .circle {
        width:40px;
        height:40px;
        position: absolute;
        left: 0;
        top:0;
        border:1px solid $grey;
        border-radius: 20px;
        transition: all 300ms;
    }
    
    &:hover {
        .circle {
            transform: scale(1.2);
        }
        
    }
    
    &.white {
        .circle {
            border-color: #fff;
        }
    }
    
    &.black {
        .line {
            background: #000;
        }
    }
    


    &.opened {
        left: calc(400px + 20px);
        
        .line {
            background: #fff;
        }
        
        .circle {
            border-color: #fff;
        }
        
        @media screen and (max-width:500px) {
            left: 50px;
        }
    }
    
    
}

.dark_screen {
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    background: #000;
    opacity: 0;
    display: none;
    z-index: 4;
}

.main_container {
    width:100%;
}

.row_2 {
    display: flex;
    justify-content: center;
    .column {
        width:50%;
    }
}

.left_navigation {
    
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 150px;
    z-index: 5;
    transition: all 300ms ease-in-out;
    
    
    .main_line {
        position: absolute;
        top:0;
        left: 75px;
        width: 1px;
        height:100vh;
        background:$grey;
        opacity: 0.5;
        transition: all 300ms;
        
        @media screen and (max-width: 900px) {
            display: none;
        }
    }
    
    .transition_line {
        position: absolute;
        top:0;
        left: 73.5px;
        width:3px;
        height: 40px;
        background: $main_color;
        opacity: 1;
        transition: background 300ms;
        
        @media screen and (max-width: 900px) {
            display: none;
        }
    }
    
    .container {
        width: 150px;
        position: absolute;
        left: 0;
        padding-top: 20vh;
        height: 100%;

        transition: all 400ms cubic-bezier(0,0,.26,1);
        
        @media screen and (max-width:900px) {
            display: none;
        }
    }
    
    
    .item {
        display: flex;
        flex-wrap: nowrap;
        font-weight: 300;
        font-size: 12px;
        height:70px;
        position: relative;
        cursor: pointer;
        
        
        .point {
            position: absolute;
            left: calc(50% - 1.5px);
            top: 8px;
            width:3px;
            height:3px;
            border-radius: 5px;
            background: $light_grey;
            opacity: 1;
            transition: all 400ms;
            z-index: 5;
        }
        .column:nth-child(1) {
            width:50%;
            text-align: left;
            padding-left: 40px;
        }
        .column:nth-child(2) {
            padding-left: 20px;
            width:50%;
            text-align: left;
        }
        
        p {
            color: $light_grey;
            transition: all 400ms;
        }
        
        p span {
            transition: transform 200ms ease-out;
            display: inline-block;
        }
        
        &:hover {
            .left_span {
                transform: translateY(-4px);
            }
            
            .right_span {
                transform: translateY(4px);
            }
        }
        
        
        &.active, &:hover {
            .point {
                background: #fff;
            }
            
            .column> p {
                color: #fff;
            }
        }
    }
    
    .hidden_part {
        background: $main_color;
        opacity: 0;
        right: 50%;
        position: absolute;
        top:0;
        z-index: 1;
        left: -325px;
        width: 400px;
        height:100%;
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 70px;
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 50px;
        
        transition: left 400ms cubic-bezier(0,0,.26,1);
        
        @media screen and (max-width:500px) {
            width: 100%;
        }
        
        .hidden_container {
            width: 100%;
            height: auto;
            text-align: right;
            
            a {
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 400;
                
                font-size: 20px;
                position: relative;
                display: block;
                padding-right: 15px;

                padding-top: 12.5px;
                padding-bottom: 12.5px;
                cursor: pointer;
                
                span {
                    position: absolute;
                    right: -    10px;
                    top: -5px;
                    color: #000;
                    font-weight: 300;
                    font-size: 14px;
                }
                
            }
        }
    }
    
    
    &.white {
        .item p {
            color: #fff;
        }
        
        .transition_line {
            background: #fff;
        }
        
        .main_line {
            background: #eee;
            opacity: 0.3;
        }
        
        .point {
            background: #fff;
        }
    }
    
    &.black {
        &:hover {
            .item p {
                color: #000;
            }
        }
        
        .item.active {
            .point {
                background: $main_color;
            }
            
            p {
                color: $main_color;
            }
        }
        
        .item p {
            color: #000;
        }

        .transition_line {
            background: $main_color;
        }

        .main_line {
            background: $grey;
            opacity: 0.2;
        }

        .point {
            background: $grey;
        }
    }
    

    &.opened {
        width:100%;


        .container {
            width:800px;
            
            @media screen and (max-width:800px) {
                width:100%;
            }
        }

        .hidden_part {
            opacity: 1;
            left:0;
        }


        .point, .column>p,.main_line,.transition_line {
            opacity: 0;
        }
    }
}

.registration {
    position: fixed;
    bottom: 7%;
    right: 7%;
    border-radius: 2px;
    background: $main_color;
    padding: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    transition: all 300ms;
    z-index: 5;
    cursor: pointer;
    
    p {
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        transition: all 300ms;
    }
    
    &:hover {
        background: #fff;
        
        p {
            color:  $main_color;
        }
    }
    
    &.white {
        background: #fff;
        
        p {

            color: $main_color;
        }
    }
}

.static_registration_button {
    @extend .registration;
    position: relative;
    bottom:0;
    right:0;
    padding-top: 10px;
    padding-bottom: 10px;
    width:250px;
    margin: 0 auto;
    
    p {
        text-align: center;
        font-size: 18px;
    }
}

.first_section {
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: calc(200px + 5%);
    padding-right: 5%;
    
    .labels {
        text-align: left;
    }
    
    @media screen and (max-width:900px) {
        padding-left: 5%;
        padding-right: 5%;
        
        .row_2 {
            flex-wrap: wrap;
            
            .column {
                width: 100%;
                
                &:nth-child(2) {
                    margin-top: 20px;
                }
            }
        }
    }
    
    .row_2 .column:nth-child(1) {
        padding-right: 20px;
    }
}

.logo_main {
    max-width: 150px;
    position: absolute;
    right: 7%;
    top: 5%;
}

.logo {
    max-width: 400px;
    width:calc(100% - 20px);
}

.up_label {
    color: $main_color;
    font-weight: 500;
    margin-bottom: -10px;
}

.first_label {
    font-size: 80px;
    font-weight: 400;
    max-width: 8em;
    line-height: 72px;
}

.first_description {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}


.second_description {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    max-width: 300px;
}

.description_date {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    
    b {
        color: $main_color;
    }
}

.scroll {
    position: fixed;
    width: 50px;
    left: calc(50% - 25px);
    bottom: 20px;
    
    .scroll_line {
       width:1px;
        height:30px;
        background:#fff;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    
    p {
        text-align: center;
        font-size: 12px;
    }
}

.section_2 {
    //background: #222629;

    padding-left: calc(200px);
    padding-right: calc(200px);

    @media screen and (max-width:900px) {
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .slider_navigation {
        position: absolute;
        right: 0;
        top:0;
        height:100%;

        display: flex;
        align-items: center;
        padding-right: 70px;
        
        @media screen and (max-width:800px) {
            height: auto;
            position: relative;
            justify-content: flex-end;
        }
        
        p {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 400;
            opacity: 0.5;
            transition: all 500ms;
            max-width: 150px;
            margin-bottom: 30px;
            text-align: right;
            cursor: pointer;
            position: relative;
            
            span {
                position: absolute;
                right:0;
                top:-20px;
                font-size: 12px;
                text-transform: none;
                color: $main_color;
            }
            
            &:hover {
                opacity: 1;
            }
            
            &::after {
                content: '';
                position: absolute;
                right: -50px;
                top: 50%;
                width:0;
                height:1px;
                background: #fff;
                transition: all 300ms;
            }
            
            &.active {
                opacity: 1;
                &::after {
                    width:30px;
                }
            }
        }
    }
}

.sliders {
    position: absolute;
    top: 0;
    height:100%;
    width: calc(100% - 400px);
    
    
    @media screen and (max-width:800px) {
        height: auto;
        position: relative;
        width: 100%;
    }
    
    .slide {
        height:100%;
        width:100%;
        top:0;
        left:0;
            
        position: absolute;
        background-size: cover;
        background-position: center;    
        transition: width 500ms, left 500ms;
        
        @media screen and (max-width:800px) {
            height: auto;
            position: relative;
        }
        
    }
    
    .slide_1 {
       
    }
    
    .slide_2 {
        display: none;
        opacity: 0;
    }
    
    .slide_3 {
        display: none;
        opacity: 0;
    }
    
    .inside_slide {
        width:100%;
        height:100%;
        position: absolute;
        left:0;
        top:0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        padding: 20px;
        
        @media screen and (max-width:800px) {
            height: auto;
            position: relative;
        }
        
        >div {
            width: 100%;
        }
        
        .number {
            color: $main_color;
            font-size: 36px;
            font-weight: 400;
        }
        
        ul {
            color: #fff;
            font-size: 16px;
            font-weight: 300;
           text-align: center;
            
            li {
                list-style-type: none;
                margin: 0 auto;
                margin-bottom: 20px;
                max-width: 500px;
            }
        }
        
        h3 {
            font-size: 48px;
            text-align: center;
            font-weight: 500;
            margin: 0 auto;
            margin-bottom: 20px;
            text-transform: uppercase;
            max-width: 600px;
            
            @media screen and (max-width:900px) {
                font-size: 36px;
            }
            
            @media screen and (max-width:500px) {
                font-size: 24px;
            }
        }
        
        .slide_description {
            font-size: 18px;
            color: #fff;
        }
        
        h5 {
            font-size: 24px;
            position: relative;
            
            span {
                color: $main_color;
                position: absolute;
                width: 100%;
                top: -40px;
                font-size: 30px;
                font-weight: 700;
                text-align: center;
                
            }
        }
        .date_period {
            color: $main_color;
            text-align: center;
            font-size: 30px;
        }
    }
    
    
}

.section_3 {
    overflow: hidden;
    //background: #fff;
    transition: all 1500ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media screen and (max-width:900px) {
        padding-left: 5%;
        padding-right: 5%;
    }
}

#my_canvas {
    width:100%;
    height:100vh;
    position: fixed;
    left:0;
    top:0;
    background-size: cover;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    background: #efefef;
    display: none;
}

.section_3_heading {
    h2 {
        font-size: 64px;
        font-weight: 400;
    }
}

.svg_container {
    width:80px;
    height:80px;
    position: relative;
    position: relative;

    svg {
        stroke: #fff;
        fill:none;
        opacity: 1;
        width:100%;
        height:100%;
        position: absolute;
        left:0;
        top:0;
    }

    .icon {
        width: 100%;
        height:60%;
        position: absolute;
        left:0;
        top:20%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

//section_4
.prizes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: calc(200px + 5%);
    padding-right: 5%;

    
    .column {
        position: relative;
    }
    
    .column:first-child {
        display: flex;
        align-content: center;
        align-items: center;
        
        .svg_container {
            position: absolute;
            left: 0;
            top: -60px;
            
        }
    }
    
    .column:nth-child(2) {
        text-align: left;
        padding-left: 20px;
        
    }
    

    @media screen and (max-width:900px) {
        padding-left: 5%;
        padding-right: 5%;
    }

    
    @media screen and (max-width:800px) {
        .row_2 {
            flex-wrap: wrap;

            .column {
                width: 100%;

                &:nth-child(2) {
                    padding-left: 0;
                    margin-top: 20px;
                }
            }
        }
        
        .column:first-child {
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;
            
            .svg_container {
                position: relative;
                width:100%;
                top:0;
                margin-bottom: 20px; 
            }
        }
        
        .column:nth-child(2) {
            text-align: center;
        }
    }
    
}



.prize_slide {
    position: relative;
    h4 {
        font-weight: 500;
        font-size: 48px;
        text-transform: uppercase;
    }
    
    p {
        font-size: 24px;
        font-weight: 300;
        
        b {
            margin-top: 20px;
            display: block;
            font-size: 60px;
        }
    }
    
    @media screen and (max-width:900px) {
        h4 {
            font-size: 36px
        }
        p {
            font-size: 18px;
            
            b {
                margin-top: 0;
                font-size: 30px;
            }
        }
    }
    
    @media screen and (max-width:500px) {
        h4 {
            font-size: 24px;
        }
        p {
            b {
                font-size: 24px;
            }
        }
        
        
    }
    
    &.slide_1 {
        
    }
    
    &.slide_2 {
        margin-bottom: 20px;
        h4 {
            font-size: 36px;
        }
        
        p {
            font-size: 18px;
        }
        
        p b {
            margin-top: 0;
            font-size: 30px;
        }
        
        @media screen and (max-width:900px) {
            h4 {
                font-size: 24px;
            }
            
            p b {
                font-size: auto;
            }
        }
        
        @media screen and (max-width:500px) {
            p b {
                font-size: 24px;
            }
        }
    
    }
    
    .special_div {
        margin-top: 20px;
        display: flex;
        position: relative;
        justify-content: flex-start;
        align-items: center;
        
        p {
            margin-left: 10px;
        }
        
        @media screen and (max-width:800px) {
            justify-content: center;
        }
    }
    
}


.jury {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: calc(200px + 5%);
    padding-right: 5%;
    
    @media screen and (max-width:900px) {
        padding-left: 5%;
        padding-right: 5%;
    }
    
    h5,h6,p {
        color: #000;
    }
    
    h6 {
        font-size: 16px;
        margin-bottom: 5px;
        color: $main_color;
        font-weight: 500;
    }
    
    h5 {
        font-size: 24px;
        font-weight: 500;
    }
    
    p {
        margin-top: 20px;
        font-weight: 300;
    }
    
    .jury_output {
        display: flex;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        padding-right: 20px;
        
        p {
            position: relative;
            margin-top: 50px;
            
            .left_citate {
                width: 80px;
                height: 3px;
                background: $main_color;
                position: absolute;
                left: 0;
                top: -20px;
                border-radius: 3px;
            }
            
            .right_citate {
                width: 80px;
                height: 3px;
                background: $main_color;
                position: absolute;
               right: 0;
                bottom: -20px;
                border-radius: 3px;
            }
        }
    }
    
    .jury_container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        position: relative;
        padding-right: 10px;
        
        
        .line_1 {
            height: calc(50% - 72px - 30px);
            width: 1px;
            background: $main_color;
            opacity: 0.3;
            position: absolute;
            right: -10px;
            top:30px;
        }
        
        .line_2 {
            height: calc(50% - 72px - 30px);
            width: 1px;
            background: $main_color;
            opacity: 0.3;
            position: absolute;
            right: -10px;
            bottom:30px;
        }
    }
    
    .jury_description {
        position: absolute;
        right: -70px;
        top: calc(50% - 32px);
        transform: rotate(90deg);
        text-transform: uppercase;
        font-weight: 300;
        color: $main_color;
    }
    
    .jury_item {
        display: block;
        margin: 10px;
        width: 140px;
        
        .avatar {
            width: 100%;
            height: 150px;
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            margin-bottom: 10px;
            
        }
        h6 {
            font-size: 10px;
            margin-bottom: 2px;
        }
        h5 {
            font-size: 12px;
        }
        
    }
}

.sponsors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding-left: calc(200px + 5%);
    padding-right:  calc(200px + 5%);
    
    @media screen and (max-width:1100px) {
        padding-right: 5%;
    }
    
    @media screen and (max-width:900px) {
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .row_2 {
        position: relative;
        z-index: 1;
    }
    
    .McKinsey, .Kaspersky {
        max-width: 700px;
    }
    
    
    
    h6 {
        font-size: 18px;
        color: #222;
        font-weight: 300;
        margin-bottom: 10px;
    }
    
    h4 {
        font-size: 36px;
        color: #222;
        font-weight: 500;
        margin-bottom: 20px;
        display: inline-block;
    }
    
    p {
        color: #222;
        font-size: 16px;
        font-weight: 300;
        margin: 0 auto;
    }
    
    .sponsor_head {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        position: relative;
        
        >div {
            position: relative;
        }
    }
    
    .sponsor_site_button {
        background: $main_color;
        color: #fff;
        padding: 10px;
        padding-top: 13px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 20px;
        display: inline-block;
        max-width: 80px;
        text-align: center;
        border-radius: 3px;
        transition: all 300ms;
        cursor: pointer;
        
        transform: translateY(-5px);
        
        &:hover {
            background: #fff;
            color: $main_color;
        }
    }
    
    .McKinsey {
        padding-right: 50px;

        h4,h6 {
            color: $main_color;
        }

        @media screen and (max-width:800px) {
            padding-right: 0;
        }
    }

    .Kaspersky {
        text-align: right;
        margin-top: 30px;
        padding-left: 50px;

        .sponsor_head {
            justify-content: flex-end;
        }

        h6 {
            display: inline-block;
        }

        h4,h6 {
            color: #006D55;
        }

        .sponsor_site_button {
            background: #006D55;

            &:hover {
                background: #fff;
                color: #006D55;
            }
        }

        @media screen and (max-width:800px) {
            text-align: left;
            padding-left: 0;

            .sponsor_head {
                justify-content: flex-start;
            }


        }
    }
}
