@import "fonts.scss";

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
::before,
::after, input, ul {
    font-family:  'GothamPro', 'Roboto', 'Roboto Condensed',  Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
}

::before,
::after {
    font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 1px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
}

p {
    line-height: 1.5em;
}

div,
body, section, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



section {
    width:100%;
    position: relative;
    z-index: 1;
    min-height: 100vh;
    overflow: hidden;
    
    @media screen and (max-width:800px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    height: auto;
}

.WebGL_container {
    position: fixed;
    left: 0;
    top: 0;
    height:100%;
    width:100%;
    overflow: hidden;
    display: none;
    
    &.scene {
        position: fixed;
        display: block;
    }
    
    &.stars {
        z-index: 1;
        position: fixed;
    }
    
    
    &.circle_field {
        position: fixed;
    }
}

.section_full {
    height: 100vh;
    overflow: hidden;
    //position: absolute;
    //left:0;
    //top: 100vh;
}


$grey: #414448;
$light_grey: #909399;
$main_color: #0093D3;
$main_color_dark: #0065BD;
$red: #FF001C;
$dark_red: #cc081b;
$green: #03bf6d;
$green_dark: #03a059;


$placeholder_color: $light_grey;

.no_scroll {
    overflow: hidden;
}

.no_scroll_better {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.left_navigation_button {
    border-radius: 30px;
    width: 40px;
    height: 40px;
    position: fixed;
    left: 103px;
    top: calc(20% - 70px);
    z-index: 6;
    cursor: pointer;
    transition: all 400ms cubic-bezier(0,0,.26,1);
    
    @media screen and (max-width:900px) {
        left: 50px;
    }
    
    .line {
        background: #fff;
        width: 20px;
        height: 1px;
        position: absolute;
        left: 9.5px;
        top: 15px;
        transition: background 300ms;
    }
    
    .line:nth-child(2) {
        top: 20px;
    }
    .line:nth-child(3) {
        top: 25px;
    }
    
    .circle {
        width:40px;
        height:40px;
        position: absolute;
        left: 0;
        top:0;
        border:1px solid $grey;
        border-radius: 20px;
        transition: all 300ms;
    }
    
    &:hover {
        .circle {
            transform: scale(1.2);
        }
        
    }
    
    &.white {
        .circle {
            border-color: #fff;
        }
    }
    
    &.black {
        .line {
            background: #000;
        }
    }
    


    &.opened {
        left: calc(400px + 20px);
        
        .line {
            background: #fff;
        }
        
        .circle {
            border-color: #fff;
        }
        
        @media screen and (max-width:500px) {
            left: 50px;
        }
    }
    
    
}

.dark_screen {
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    background: #000;
    opacity: 0;
    display: none;
    z-index: 4;
}

.main_container {
    width:100%;
}

.row_2 {
    display: flex;
    justify-content: center;
    .column {
        width:50%;
    }
}

.left_navigation {
    
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 150px;
    z-index: 5;
    transition: all 300ms ease-in-out;
    
    
    .main_line {
        position: absolute;
        top:0;
        left: 75px;
        width: 1px;
        height:100vh;
        background:$grey;
        opacity: 0.5;
        transition: all 300ms;
        
        @media screen and (max-width: 900px) {
            display: none;
        }
    }
    
    .transition_line {
        position: absolute;
        top:0;
        left: 73.5px;
        width:3px;
        height: 40px;
        background: $main_color;
        opacity: 1;
        transition: background 300ms;
        
        @media screen and (max-width: 900px) {
            display: none;
        }
    }
    
    .container {
        width: 150px;
        position: absolute;
        left: 0;
        padding-top: 20vh;
        height: 100%;

        transition: all 400ms cubic-bezier(0,0,.26,1);
        
        @media screen and (max-width:900px) {
            display: none;
        }
    }
    
    
    .item {
        display: flex;
        flex-wrap: nowrap;
        font-weight: 300;
        font-size: 12px;
        height:70px;
        position: relative;
        cursor: pointer;
        
        
        .point {
            position: absolute;
            left: calc(50% - 1.5px);
            top: 8px;
            width:3px;
            height:3px;
            border-radius: 5px;
            background: $light_grey;
            opacity: 1;
            transition: all 400ms;
            z-index: 5;
        }
        .column:nth-child(1) {
            width:50%;
            text-align: left;
            padding-left: 40px;
        }
        .column:nth-child(2) {
            padding-left: 20px;
            width:50%;
            text-align: left;
        }
        
        p {
            color: $light_grey;
            transition: all 400ms;
        }
        
        p span {
            transition: transform 200ms ease-out;
            display: inline-block;
        }
        
        &:hover {
            .left_span {
                transform: translateY(-4px);
            }
            
            .right_span {
                transform: translateY(4px);
            }
        }
        
        
        &.active, &:hover {
            .point {
                background: #fff;
            }
            
            .column> p {
                color: #fff;
            }
        }
    }
    
    .hidden_part {
        background: $main_color;
        opacity: 0;
        right: 50%;
        position: absolute;
        top:0;
        z-index: 1;
        left: -325px;
        width: 400px;
        height:100%;
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 70px;
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 50px;
        
        transition: left 400ms cubic-bezier(0,0,.26,1);
        
        @media screen and (max-width:500px) {
            width: 100%;
        }
        
        .hidden_container {
            width: 100%;
            height: auto;
            text-align: right;
            
            a {
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 400;
                
                font-size: 20px;
                position: relative;
                display: block;
                padding-right: 15px;

                padding-top: 12.5px;
                padding-bottom: 12.5px;
                cursor: pointer;
                
                span {
                    position: absolute;
                    right: -    10px;
                    top: -5px;
                    color: #000;
                    font-weight: 300;
                    font-size: 14px;
                }
                
            }
        }
    }
    
    
    &.white {
        .item p {
            color: #fff;
        }
        
        .transition_line {
            background: #fff;
        }
        
        .main_line {
            background: #eee;
            opacity: 0.3;
        }
        
        .point {
            background: #fff;
        }
    }
    
    &.black {

        .item {

            &.active {
                .point {
                    background: $main_color;
                }
                
                p {
                    color: $main_color;
                }
            }

            p {
                color: #000;
            }

            .point {
                background: $grey;
            }


            &:hover {
                p {
                    color: $main_color;
                }
                .point {
                    background: $main_color;
                }
            }


        }
        

        .transition_line {
            background: $main_color;
        }

        .main_line {
            background: $grey;
            opacity: 0.2;
        }

        
    }
    

    &.opened {
        width:100%;


        .container {
            width:800px;
            
            @media screen and (max-width:800px) {
                width:100%;
            }
        }

        .hidden_part {
            opacity: 1;
            left:0;
        }


        .point, .column>p,.main_line,.transition_line {
            opacity: 0;
        }
    }
}

.registration {
    position: fixed;
    bottom: 7%;
    right: 7%;
    border-radius: 2px;
    background: $main_color;
    padding: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    transition: all 300ms;
    z-index: 5;
    cursor: pointer;
    
    p {
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        transition: all 300ms;
    }
    
    &:hover {
        background: #fff;
        
        p {
            color:  $main_color;
        }
    }
    
    &.white {
        background: #fff;
        
        p {

            color: $main_color;
        }
    }
}

.static_registration_button {
    @extend .registration;
    position: relative;
    bottom:0;
    right:0;
    padding-top: 10px;
    padding-bottom: 10px;
    width:250px;
    margin: 0 auto;
    
    p {
        text-align: center;
        font-size: 18px;
    }

}

.timetable_button {
    @extend .static_registration_button;

    margin-bottom: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.first_section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: calc(200px + 5%);
    padding-right: 5%;
    
    .labels {
        text-align: left;
    }

    .main_container {
        max-width: 1000px;
    }
    
    @media screen and (max-width:900px) {
        padding-left: 5%;
        padding-right: 5%;
        
        .row_2 {
            flex-wrap: wrap;
            
            .column {
                width: 100%;
                
                &:nth-child(2) {
                    margin-top: 20px;
                }
            }
        }
    }
    
    .row_2 .column:nth-child(1) {
        padding-right: 20px;
    }
}

.logo_main {
    max-width: 150px;
    position: absolute;
    right: 7%;
    top: 5%;
}

.logo {
    max-width: 400px;
    width:calc(100% - 20px);
}

.up_label {
    color: $main_color;
    font-weight: 500;
    margin-bottom: -10px;
}

.first_label {
    font-size: 80px;
    font-weight: 400;
    max-width: 8em;
    line-height: 72px;
}

.first_description {
    font-size: 24px;
    font-weight: 400;
    color: #fff;

    @media screen and (max-width:1200px) {
        font-size: 18px;
    }
}


.second_description {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    max-width: 300px;
}

.description_date {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    
    b {
        color: $main_color;
    }
}

.scroll {
    position: fixed;
    width: 100px;
    left: calc(50% - 50px);
    bottom: 20px;
    
    .scroll_line {
       width:1px;
        height:30px;
        background:#fff;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    
    p {
        text-align: center;
        font-size: 12px;
    }
}

.timeline {
    //background: #222629;

    padding-left: calc(200px);
    padding-right: calc(200px);

    @media screen and (max-width:900px) {
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .slider_navigation {
        position: absolute;
        right: 0;
        top:0;
        height:100%;

        display: flex;
        align-items: center;
        padding-right: 70px;
        
        @media screen and (max-width:800px) {
            height: auto;
            position: relative;
            justify-content: flex-end;
        }
        
        p {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 400;
            opacity: 0.5;
            transition: all 500ms;
            max-width: 150px;
            margin-bottom: 30px;
            text-align: right;
            cursor: pointer;
            position: relative;
            
            span {
                position: absolute;
                right:0;
                top:-20px;
                font-size: 12px;
                text-transform: none;
                color: $main_color;
            }
            
            &:hover {
                opacity: 1;
            }
            
            &::after {
                content: '';
                position: absolute;
                right: -50px;
                top: 50%;
                width:0;
                height:1px;
                background: #fff;
                transition: all 300ms;
            }
            
            &.active {
                opacity: 1;
                &::after {
                    width:30px;
                }
            }
        }
    }


}

.sliders {
    position: absolute;
    top: 0;
    height:100%;
    width: calc(100% - 400px);
    
    
    @media screen and (max-width:800px) {
        height: auto;
        position: relative;
        width: 100%;
    }
    
    .slide {
        height:100%;
        width:100%;
        top:0;
        left:0;
            
        position: absolute;
        background-size: cover;
        background-position: center;    
        transition: width 500ms, left 500ms;
        
        @media screen and (max-width:800px) {
            height: auto;
            position: relative;
        }
        
    }
    
    .slide_1 {
       
    }
    
    .slide_2 {
        display: none;
        opacity: 0;
    }
    
    .slide_3 {
        display: none;
        opacity: 0;
    }


    
    .inside_slide {
        width:100%;
        height:100%;
        position: absolute;
        left:0;
        top:0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        padding: 20px;
        
        @media screen and (max-width:800px) {
            height: auto;
            position: relative;
        }

        @media screen and (max-width:500px) {
            padding: 0;
        }
        
        >div {
            width: 100%;
        }
        
        .number {
            color: $main_color;
            font-size: 36px;
            font-weight: 400;
        }
        
        ul {
            color: #fff;
            font-size: 16px;
            font-weight: 300;
           text-align: center;
            
            li {
                list-style-type: none;
                margin: 0 auto;
                margin-bottom: 20px;
                max-width: 500px;

                a {
                    color: $main_color;
                    font-size: 18px;
                }
            }
        }

        .timetable_reducer {
            background: $main_color;
            color: #fff;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            margin: 0 auto;
            font-size: 14px;
            border: none;
            display: block;
            border-radius: 2px;
        }

        .timetable {
            text-align: left;
            li {
                margin-bottom: 5px;

                &.day {
                    font-weight: 700;
                    font-size: 16px;
                }

                &.top_indent {
                    margin-top: 10px;
                }
            }
            margin-bottom: 20px;
        }
        
        h3 {
            font-size: 48px;
            text-align: center;
            font-weight: 500;
            margin: 0 auto;
            margin-bottom: 20px;
            text-transform: uppercase;
            max-width: 600px;
            
            @media screen and (max-width:900px) {
                font-size: 36px;
            }
            
            @media screen and (max-width:500px) {
                font-size: 24px;
            }
        }
        
        .slide_description {
            font-size: 18px;
            color: #fff;
        }
        
        h5 {
            font-size: 24px;
            position: relative;
            
            span {
                color: $main_color;
                position: absolute;
                width: 100%;
                top: -40px;
                font-size: 30px;
                font-weight: 700;
                text-align: center;
                
            }
        }
        .date_period {
            color: $main_color;
            text-align: center;
            font-size: 30px;
        }
    }
    
    
}

.criteria {
    overflow: hidden;
    //background: #fff;
    transition: all 1500ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;


    padding-left: calc(200px + 5%);
    padding-right: 5%;


    .section_3_heading {
        h2 {
            font-size: 64px;
            font-weight: 400;
        }

        .heading {
            font-weight: 400;
            margin-bottom: 20px;
        }
    }


    .main_container {
        width: auto;
    }

    .row_2 {
        max-width: 900px;
        margin-top: 30px;
        align-items: flex-start;

        .column:first-child {
            padding-right: 30px;
        }

        .column:nth-child(2) {
            padding-left: 30px;
        }
    }

    h6 {
        font-size: 18px;
    }

    p {
        font-weight: 300;
        position: relative;
        span {
            position: absolute;
            left: -40px;
            top: -10px;

            font-size: 48px;
            font-weight: 900;
            opacity: 0.3;
        }
    }


    @media screen and (max-width:900px) {
        padding-left: 5%;
        padding-right: 5%;
    }

    @media screen and (max-width:750px) {
       .section_3_heading {
            h2 {
                font-size: 30px;
            }
        }


        .row_2 {
            flex-wrap: wrap;
            margin-top: 0;


            .column:nth-child(1), .column:nth-child(2) {
                padding-left: 0;
                padding-right: 0;
            }

            .column {
                margin-top: 30px;
                width: 100%;
            }
        }

        p {
            span {
                top: -20px;
                left: 40px;
            }
        }
    }
}

#my_canvas {
    width:100%;
    height:100vh;
    position: fixed;
    left:0;
    top:0;
    background-size: cover;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    background: #efefef;
    display: none;
}


.svg_container {
    width:80px;
    height:80px;
    position: relative;
    position: relative;

    svg {
        stroke: #fff;
        fill:none;
        opacity: 1;
        width:100%;
        height:100%;
        position: absolute;
        left:0;
        top:0;
    }

    .icon {
        width: 100%;
        height:60%;
        position: absolute;
        left:0;
        top:20%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

//section_4
.prizes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: calc(200px + 5%);
    padding-right: 5%;

    .main_container {
        max-width: 900px;
    }
    
    .column {
        position: relative;
    }
    
    .column:first-child {
        display: flex;
        align-content: center;
        align-items: center;
        
        .svg_container {
            position: absolute;
            left: 0;
            top: -90px;
            
        }
    }
    
    .column:nth-child(2) {
        text-align: left;
        padding-left: 20px;
        
    }
    

    @media screen and (max-width:900px) {
        padding-left: 5%;
        padding-right: 5%;
    }

    
    @media screen and (max-width:800px) {
        .row_2 {
            flex-wrap: wrap;

            .column {
                width: 100%;

                &:nth-child(2) {
                    padding-left: 0;
                    margin-top: 20px;
                }
            }
        }
        
        .column:first-child {
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;
            
            .svg_container {
                position: relative;
                width:100%;
                top:0;
                margin-bottom: 20px; 
            }
        }
        
        .column:nth-child(2) {
            text-align: center;
        }
    }
    
}



.prize_slide {
    position: relative;
    h4 {
        font-weight: 400;
        font-size: 48px;
        text-transform: uppercase;
    }
    
    p {
        font-size: 24px;
        font-weight: 300;
        
        b {
            margin-top: 20px;
            display: block;
            font-size: 60px;
        }
    }
    
    @media screen and (max-width:900px) {
        h4 {
            font-size: 36px
        }
        p {
            font-size: 18px;
            
            b {
                margin-top: 0;
                font-size: 30px;
            }
        }
    }
    
    @media screen and (max-width:500px) {
        h4 {
            font-size: 24px;
        }
        p {
            b {
                font-size: 24px;
            }
        }
        
        
    }
    
    &.slide_1 {
        
    }
    
    &.slide_2 {
        margin-bottom: 20px;
        h4 {
            font-size: 36px;
        }
        
        p {
            font-size: 18px;
        }
        
        p b {
            margin-top: 0;
            font-size: 30px;
        }
        
        @media screen and (max-width:900px) {
            h4 {
                font-size: 24px;
            }
            
            p b {
                font-size: auto;
            }
        }
        
        @media screen and (max-width:500px) {
            p b {
                font-size: 24px;
            }
        }
    
    }
    
    .special_div {
        margin-top: 20px;
        display: flex;
        position: relative;
        justify-content: flex-start;
        align-items: center;
        
        p {
            margin-left: 10px;
        }
        
        @media screen and (max-width:800px) {
            justify-content: center;
        }
    }
    
}


.jury {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: calc(200px + 5%);
    padding-right: 5%;
        
    h5,h6,p {
        color: #000;
    }
    
    h6 {
        font-size: 16px;
        margin-bottom: 5px;
        color: $main_color;
        font-weight: 500;
        max-width: 500px;
    }
    
    h5 {
        font-size: 24px;
        font-weight: 500;
    }
    
    p {
        margin-top: 20px;
        font-weight: 300;
    }

    .main_container {
        max-width: 1000px;
    }
    
    .jury_output {
        display: flex;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        padding-right: 20px;
        
        p {
            position: relative;
            margin-top: 50px;
            max-width: 500px;
            
            .left_citate {
                width: 80px;
                height: 3px;
                background: $main_color;
                position: absolute;
                left: 0;
                top: -20px;
                border-radius: 3px;
            }
            
            .right_citate {
                width: 80px;
                height: 3px;
                background: $main_color;
                position: absolute;
               right: 0;
                bottom: -20px;
                border-radius: 3px;
            }
        }

        @media screen and (max-width:1000px) {
            p {
                max-width: none;
            }
        }
    }

    .break {
        overflow-wrap: break-word;  /* не поддерживает IE, Firefox; является копией word-wrap */ 
        word-wrap: break-word;
        word-break: break-all;  /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */ 
        line-break: strict;  /* нет поддержки для русского языка */ 
        -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto;  /* значение auto не поддерживается Chrome */ 
        height: 110px;
    }
    
    .jury_container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        flex-wrap: wrap;
        position: relative;
        padding-right: 10px;
        
        
        .line_1 {
            height: calc(50% - 72px - 30px);
            width: 1px;
            background: $main_color;
            opacity: 0.3;
            position: absolute;
            right: -10px;
            top:30px;
        }
        
        .line_2 {
            height: calc(50% - 72px - 30px);
            width: 1px;
            background: $main_color;
            opacity: 0.3;
            position: absolute;
            right: -10px;
            bottom:30px;
        }

    }
    
    .jury_description {
        position: absolute;
        right: -70px;
        top: calc(50% - 32px);
        transform: rotate(90deg);
        text-transform: uppercase;
        font-weight: 300;
        color: $main_color;
    }
    
    .jury_item {
        display: block;
        margin: 10px;
        width: 140px;
        cursor: pointer;
        
        .avatar {
            width: 100%;
            height: 150px;
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            margin-bottom: 10px;
            transition: all 200ms;            
        }
        h6 {
            font-size: 10px;
            margin-bottom: 2px;
        }
        h5 {
            font-size: 12px;
        }

        &:hover {
             .avatar {
                box-shadow: 0px 0px 5px $main_color;
            }
        }

        &.active {
            .avatar {
                box-shadow: 0px 0px 10px $main_color;
            }
        }
        
    }


    @media screen and (max-width:1000px) {


        .row_2 {
            flex-wrap: wrap;

            .column {
                width: 100%;
            }
        }

        .citate_container {
            margin: 0 auto;
        }

        .jury_output p {
            margin-top: 10px;
            .left_citate, .right_citate {
                display: none;
            }
        }
    }


    @media screen and (max-width:900px) {
        padding-left: 5%;
        padding-right: 5%;
    }

}

.sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: calc(200px + 5%);
    padding-right: calc(100px + 5%);
    
    @media screen and (max-width:1100px) {
        padding-right: 5%;
        flex-wrap: wrap;
    }
    
    @media screen and (max-width:900px) {
        padding-left: 5%;
        padding-right: 5%;
    }

    .McKinsey, .Gett {
        max-width: 450px;
    }
    
    
    
    h6 {
        font-size: 18px;
        color: #222;
        font-weight: 300;
        margin-bottom: 10px;
        display: block;
    }
    
    h4 {
        font-size: 36px;
        color: #222;
        font-weight: 500;
        margin-bottom: 20px;
        display: inline-block;
    }
    
    p {
        color: #222;
        font-size: 16px;
        font-weight: 300;
        margin: 0 auto;
        background: rgba(255,255,255,.6);

        @media screen and (max-width:800px) {
            background: none;
        }
    }
    
    .sponsor_head {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        
        >div {
            position: relative;
        }
    }
    
    .sponsor_site_button {
        background: $main_color;
        color: #fff;
        padding: 10px;
        padding-top: 13px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 20px;
        display: inline-block;
        max-width: 80px;
        text-align: center;
        border-radius: 3px;
        transition: all 300ms;
        cursor: pointer;
        
        transform: translateY(-5px);
        
        &:hover {
            background: #fff;
            color: $main_color;
        }
    }
    
    .McKinsey {
        padding-right: 50px;

        h4,h6 {
            color: $main_color;
        }

        @media screen and (max-width:1100px) {
            padding-right: 0;
        }
    }

    .Gett {
        margin-top: 30px;
        padding-left: 50px;


        h4,h6 {
            color: #F9B538;
        }

        .sponsor_site_button {
            background: #F9B538;

            &:hover {
                background: #fff;
                color: #F9B538;
            }
        }

        @media screen and (max-width:1100px) {
            text-align: left;
            padding-left: 0;

        }
    }
}

.main_section {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom:0;
    z-index: 100;
    padding: 30px;
    padding-top: 30px;

    overflow: auto;

    &.auth_screen {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        &.registration {

        }
    }

    .background {
        background: linear-gradient(to right top, $main_color, #74ebd5);
        opacity: 0.9;
        position: absolute;
        left: 0; 
        top:0;
        height: 100%;
        width: 100%;

        @media screen and (max-width:500px) {
            opacity: 1;
        }
    }

    .main_container {
        position: relative;
        z-index: 1;
    }

    @media screen and (max-width:800px) {
        padding: 20px;
        padding-top:30px;
    }

    @media screen and (max-width:500px) {
        padding: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.waiting_window {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 30px;
    background-image: url(/static/cabinet/img/m-loading.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 101;
    display: none;
}

.popup_window {
    position: fixed;
    top: -60px;
    left: 0;
    width: 100%;
    z-index: 102;

    .inside_container {
        width: 100%;
        max-width: 800px;
        background: $red;
        padding: 10px;
        margin: 0 auto;

        p {
            color: #fff;
            font-size: 14px;
            text-align: center;
            font-weight: 500;
        }
    }

}

.accept_window {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 103;
    display: none;

}

.accept_container {
    width: 500px;
    background: #fff;
    border-radius: 2px;
    margin: 0 auto;
    box-shadow: 0 8px 32px rgba(0,0,0,.1), 0 2px 8px rgba(0,0,0,.1);
    opacity: 0;
    position: relative;
    transform: translateY(50px);

    .accept_head {
        background: $main_color;
        padding: 20px;
        padding-top: 15px;
        padding-bottom: 15px;

        .accept_header {
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            max-width: 400px;
            margin: 0 auto;
        }

        .accept_exit {
            position: absolute;
            right: 20px;
            top: 15px;
            cursor: pointer;
            transition: all 200ms;
            color: #fff;
            font-size: 14px;

        }
    }

    .accept_text {
        font-size: 14px;
        font-weight: 300;
        margin: 0 auto;
        margin-top: 20px;
        max-width: 400px;
    }

    .accept_footer {
        margin-top: 20px;
        border-top: 1px solid #ddd;
        text-align: right;
        padding-right: 50px;

        .main_button {
            max-width: 150px;
            padding: 10px;
            font-size: 14px;
        }

        .cancel_button {
            display: inline-block;
            margin-right: 10px;
            background: none;
            color: $light_grey;
            border-color: $light_grey;

            &:hover {
                background: $main_color_dark;
                border-color: $main_color_dark;
                color: #fff;
            }
        }
        .accept_button {
            display: inline-block;
        }
    }

}


.intro_label {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    line-height: 30px;
}

.intro_description {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
}

.main_button {
    box-sizing: border-box;
    display: block;
    width: 300px;
    position: relative;
    overflow: hidden;

    -webkit-appearance: none;
    border: 1px solid $main_color;
    color: #fff;
    background: $main_color;
    padding: 15px;
    padding-left: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    transition: all 200ms;
    font-weight: 400;
    text-align: center;

    &:hover {
        background: $main_color_dark;
        border-color: $main_color_dark;

        .button_icon {
            transform: translateX(20px);
        }
    }

    &:active, &:focus {
        outline: 0
    }

    >div {
        position: relative;
        display: inline-block;
    }

}

.button_icon {
    position: absolute;
    right: -20px;
    top: calc(50% - 10px);
    transition: transform 200ms;
}

.registration_link {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: #000;
    b a {
        font-weight: 300;
        font-size: 12px;
        color: $main_color;
        cursor: pointer;
    }
}

.form_main {
    background: #fff;
    position: relative;

    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    border-radius: 2px;

    width: 362px;
    margin: 0 auto;
    box-shadow: 0 8px 32px rgba(0,0,0,.1), 0 2px 8px rgba(0,0,0,.1);

     .exit {
        position: absolute;
        right: 20px;
        top: 15px;
        cursor: pointer;
        .cross {
            display: inline-block;
            width: 30px;
            height: 30px;
            position: relative;

            .line {
                background: #000;
                position: absolute;
                left: 15px;
                top: 0;
                height: 20px;
                width: 2px;
                transition: all 200ms;
            }
            .line:nth-child(1) {
                transform: rotate(45deg);

            }
            .line:nth-child(2) {
                 transform: rotate(-45deg);

            }

        }
        p {
            display: inline-block;
            vertical-align: top;
            color: #000;
            font-size: 14px;
            transition: all 200ms;
        }
        

        &:hover {
            .cross .line {
                background: $main_color;
            }
            p {
                color: $main_color;
            }
        }
    }


    @media screen and (max-width:350px) {
        width: 100%;
        padding-left:0px;
        padding-right:0px;
        input {
            width: 100%;
        }
    }

    &.big {
        width: auto;
        margin-left: 0;
        padding-left: 40px;
        padding-right: 40px;

        input {
            margin-left: 0;
            width: 400px;
        }
        .input_container {
            margin-bottom: 20px;
            display: inline-block;


        }


        @media screen and (max-width:1000px) {
            .input_container {
                width: 100%;
            }
         }

        @media screen and (max-width:500px) {
            padding-left:20px;
            padding-right:20px;
            input {
                width: 100%;
            }
        }

    }


}

.input_container {
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 300ms;
    position: relative;


    input, textarea, .select {
        color: #000;
        font-size: 14px;
        box-sizing: border-box;
        display: block;
        width: 300px;
        border:none;
        -webkit-appearance: none;
        border: 1px solid #ddd;
        padding: 15px;
        padding-left: 20px;
        background: #fff;
        margin: 0 auto;
        border-radius: 2px;
        transition: background 200ms, color 200ms, border 200ms, height 300ms, padding 300ms;

        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color:    $placeholder_color;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:    $placeholder_color;
            opacity:  1;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:    $placeholder_color;
            opacity:  1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color:    $placeholder_color;
        }
        &::-ms-input-placeholder { /* Microsoft Edge */
            color:    $placeholder_color;
        }


        &:hover, &:focus {
            outline: none;
            color: $main_color;
            border-color: $main_color;


            &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                color:   $main_color;
            }
            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color:   $main_color;
                opacity:  1;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
                color:   $main_color;
                opacity:  1;
            }
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color:   $main_color;
            }
            &::-ms-input-placeholder { /* Microsoft Edge */
                color:   $main_color;
            }

        }


    }


    &.with_label {
        
    }

    &.hidden {
        opacity: 0;

        input {
            height: 0;
            padding: 0;
        }
    }

    label {
        position: relative;
        left: 0;
        top: 0;
        margin-bottom: 5px;
        display: block;
        font-size: 14px;
    }


    &.error {
        input {
            border-color: $red;
        }
        .error_output {
            display: block;
        }
    }

    @media screen and (max-width:1000px) {
        &.with_label {
            padding-top:0;
        }
        label {
            position: relative;
            top: 0;
            margin-bottom: 5px;
            display: block;
        }
    }

    @media screen and (min-width:900px) {
        margin-bottom: 15px;
    }
}


.error_output {
    font-size: 11px;
    font-weight: 300;
    color: #000;
    background: #fff;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    max-width: 300px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 0;
    display: none;
    border: 1px solid #ddd;
    border-left: 3px solid $red;
    margin-top: 10px;
    text-align: left;

    @media screen and (min-width:900px) {
        position: absolute;
        z-index: 1;
        left: 320px;
        top:0;
        margin-top: 0;
        width: 200px;
        border-radius: 2px;
        border-left: 1px solid #ddd;
        box-shadow: 0 0px 10px 1px #eef3ff;

        &::before {
            content: "";
            background: #fff;
            width: 6px;
            height: 6px;
            position: absolute;
            left: -4px;
            top: calc(50% - 3px);
            transform: rotate(45deg);
            border: 1px solid #ddd;
            border-top: none;
            border-right: none;
        }
    }
}