@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProRegular/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProBold/GothamProBold.eot");
  src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProBlack/GothamProBlack.eot");
  src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: 900; }
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProItalic/GothamProItalic.eot");
  src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"), url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal; }
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProMedium/GothamProMedium.eot");
  src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProLight/GothamProLight.eot");
  src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProLight/GothamProLight.woff") format("woff"), url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
  src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"), url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500; }
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
  src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"), url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300; }
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
  src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"), url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700; }
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
  src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"), url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900; }
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
::before,
::after, input, ul {
  font-family: 'GothamPro', 'Roboto', 'Roboto Condensed',  Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: none; }

::before,
::after {
  font-family: "Roboto"; }

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

p {
  line-height: 1.5em; }

div,
body, section {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

section {
  width: 100%;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  overflow: hidden;
  height: auto; }
  @media screen and (max-width: 800px) {
    section {
      padding-top: 30px;
      padding-bottom: 30px; } }

.WebGL_container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: none; }
  .WebGL_container.scene {
    position: fixed;
    display: block; }
  .WebGL_container.stars {
    z-index: 1;
    position: fixed; }
  .WebGL_container.circle_field {
    position: fixed; }

.section_full {
  height: 100vh;
  overflow: hidden; }

.no_scroll {
  overflow: hidden; }

.left_navigation_button {
  border-radius: 30px;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 103px;
  top: calc(20% - 70px);
  z-index: 6;
  cursor: pointer;
  transition: all 400ms cubic-bezier(0, 0, 0.26, 1); }
  @media screen and (max-width: 900px) {
    .left_navigation_button {
      left: 50px; } }
  .left_navigation_button .line {
    background: #fff;
    width: 20px;
    height: 1px;
    position: absolute;
    left: 9.5px;
    top: 15px;
    transition: background 300ms; }
  .left_navigation_button .line:nth-child(2) {
    top: 20px; }
  .left_navigation_button .line:nth-child(3) {
    top: 25px; }
  .left_navigation_button .circle {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #414448;
    border-radius: 20px;
    transition: all 300ms; }
  .left_navigation_button:hover .circle {
    transform: scale(1.2); }
  .left_navigation_button.white .circle {
    border-color: #fff; }
  .left_navigation_button.black .line {
    background: #000; }
  .left_navigation_button.opened {
    left: calc(400px + 20px); }
    .left_navigation_button.opened .line {
      background: #fff; }
    .left_navigation_button.opened .circle {
      border-color: #fff; }
    @media screen and (max-width: 500px) {
      .left_navigation_button.opened {
        left: 50px; } }

.dark_screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  display: none;
  z-index: 4; }

.main_container {
  width: 100%; }

.row_2 {
  display: flex;
  justify-content: center; }
  .row_2 .column {
    width: 50%; }

.left_navigation {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 150px;
  z-index: 5;
  transition: all 300ms ease-in-out; }
  .left_navigation .main_line {
    position: absolute;
    top: 0;
    left: 75px;
    width: 1px;
    height: 100vh;
    background: #414448;
    opacity: 0.5;
    transition: all 300ms; }
    @media screen and (max-width: 900px) {
      .left_navigation .main_line {
        display: none; } }
  .left_navigation .transition_line {
    position: absolute;
    top: 0;
    left: 73.5px;
    width: 3px;
    height: 40px;
    background: #0093D3;
    opacity: 1;
    transition: background 300ms; }
    @media screen and (max-width: 900px) {
      .left_navigation .transition_line {
        display: none; } }
  .left_navigation .container {
    width: 150px;
    position: absolute;
    left: 0;
    padding-top: 20vh;
    height: 100%;
    transition: all 400ms cubic-bezier(0, 0, 0.26, 1); }
    @media screen and (max-width: 900px) {
      .left_navigation .container {
        display: none; } }
  .left_navigation .item {
    display: flex;
    flex-wrap: nowrap;
    font-weight: 300;
    font-size: 12px;
    height: 70px;
    position: relative;
    cursor: pointer; }
    .left_navigation .item .point {
      position: absolute;
      left: calc(50% - 1.5px);
      top: 8px;
      width: 3px;
      height: 3px;
      border-radius: 5px;
      background: #909399;
      opacity: 1;
      transition: all 400ms;
      z-index: 5; }
    .left_navigation .item .column:nth-child(1) {
      width: 50%;
      text-align: left;
      padding-left: 40px; }
    .left_navigation .item .column:nth-child(2) {
      padding-left: 20px;
      width: 50%;
      text-align: left; }
    .left_navigation .item p {
      color: #909399;
      transition: all 400ms; }
    .left_navigation .item p span {
      transition: transform 200ms ease-out;
      display: inline-block; }
    .left_navigation .item:hover .left_span {
      transform: translateY(-4px); }
    .left_navigation .item:hover .right_span {
      transform: translateY(4px); }
    .left_navigation .item.active .point, .left_navigation .item:hover .point {
      background: #fff; }
    .left_navigation .item.active .column > p, .left_navigation .item:hover .column > p {
      color: #fff; }
  .left_navigation .hidden_part {
    background: #0093D3;
    opacity: 0;
    right: 50%;
    position: absolute;
    top: 0;
    z-index: 1;
    left: -325px;
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 70px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
    transition: left 400ms cubic-bezier(0, 0, 0.26, 1); }
    @media screen and (max-width: 500px) {
      .left_navigation .hidden_part {
        width: 100%; } }
    .left_navigation .hidden_part .hidden_container {
      width: 100%;
      height: auto;
      text-align: right; }
      .left_navigation .hidden_part .hidden_container a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 20px;
        position: relative;
        display: block;
        padding-right: 15px;
        padding-top: 12.5px;
        padding-bottom: 12.5px;
        cursor: pointer; }
        .left_navigation .hidden_part .hidden_container a span {
          position: absolute;
          right: -10px;
          top: -5px;
          color: #000;
          font-weight: 300;
          font-size: 14px; }
  .left_navigation.white .item p {
    color: #fff; }
  .left_navigation.white .transition_line {
    background: #fff; }
  .left_navigation.white .main_line {
    background: #eee;
    opacity: 0.3; }
  .left_navigation.white .point {
    background: #fff; }
  .left_navigation.black:hover .item p {
    color: #000; }
  .left_navigation.black .item.active .point {
    background: #0093D3; }
  .left_navigation.black .item.active p {
    color: #0093D3; }
  .left_navigation.black .item p {
    color: #000; }
  .left_navigation.black .transition_line {
    background: #0093D3; }
  .left_navigation.black .main_line {
    background: #414448;
    opacity: 0.2; }
  .left_navigation.black .point {
    background: #414448; }
  .left_navigation.opened {
    width: 100%; }
    .left_navigation.opened .container {
      width: 800px; }
      @media screen and (max-width: 800px) {
        .left_navigation.opened .container {
          width: 100%; } }
    .left_navigation.opened .hidden_part {
      opacity: 1;
      left: 0; }
    .left_navigation.opened .point, .left_navigation.opened .column > p, .left_navigation.opened .main_line, .left_navigation.opened .transition_line {
      opacity: 0; }

.registration, .static_registration_button {
  position: fixed;
  bottom: 7%;
  right: 7%;
  border-radius: 2px;
  background: #0093D3;
  padding: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: all 300ms;
  z-index: 5;
  cursor: pointer; }
  .registration p, .static_registration_button p {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    transition: all 300ms; }
  .registration:hover, .static_registration_button:hover {
    background: #fff; }
    .registration:hover p, .static_registration_button:hover p {
      color: #0093D3; }
  .registration.white, .white.static_registration_button {
    background: #fff; }
    .registration.white p, .white.static_registration_button p {
      color: #0093D3; }

.static_registration_button {
  position: relative;
  bottom: 0;
  right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  margin: 0 auto; }
  .static_registration_button p {
    text-align: center;
    font-size: 18px; }

.first_section {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: calc(200px + 5%);
  padding-right: 5%; }
  .first_section .labels {
    text-align: left; }
  @media screen and (max-width: 900px) {
    .first_section {
      padding-left: 5%;
      padding-right: 5%; }
      .first_section .row_2 {
        flex-wrap: wrap; }
        .first_section .row_2 .column {
          width: 100%; }
          .first_section .row_2 .column:nth-child(2) {
            margin-top: 20px; } }
  .first_section .row_2 .column:nth-child(1) {
    padding-right: 20px; }

.logo_main {
  max-width: 150px;
  position: absolute;
  right: 7%;
  top: 5%; }

.logo {
  max-width: 400px;
  width: calc(100% - 20px); }

.up_label {
  color: #0093D3;
  font-weight: 500;
  margin-bottom: -10px; }

.first_label {
  font-size: 80px;
  font-weight: 400;
  max-width: 8em;
  line-height: 72px; }

.first_description {
  font-size: 24px;
  font-weight: 400;
  color: #fff; }

.second_description {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  max-width: 300px; }

.description_date {
  font-size: 24px;
  font-weight: 700;
  color: #fff; }
  .description_date b {
    color: #0093D3; }

.scroll {
  position: fixed;
  width: 50px;
  left: calc(50% - 25px);
  bottom: 20px; }
  .scroll .scroll_line {
    width: 1px;
    height: 30px;
    background: #fff;
    margin: 0 auto;
    margin-bottom: 10px; }
  .scroll p {
    text-align: center;
    font-size: 12px; }

.section_2 {
  padding-left: calc(200px);
  padding-right: calc(200px); }
  @media screen and (max-width: 900px) {
    .section_2 {
      padding-left: 5%;
      padding-right: 5%; } }
  .section_2 .slider_navigation {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 70px; }
    @media screen and (max-width: 800px) {
      .section_2 .slider_navigation {
        height: auto;
        position: relative;
        justify-content: flex-end; } }
    .section_2 .slider_navigation p {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 400;
      opacity: 0.5;
      transition: all 500ms;
      max-width: 150px;
      margin-bottom: 30px;
      text-align: right;
      cursor: pointer;
      position: relative; }
      .section_2 .slider_navigation p span {
        position: absolute;
        right: 0;
        top: -20px;
        font-size: 12px;
        text-transform: none;
        color: #0093D3; }
      .section_2 .slider_navigation p:hover {
        opacity: 1; }
      .section_2 .slider_navigation p::after {
        content: '';
        position: absolute;
        right: -50px;
        top: 50%;
        width: 0;
        height: 1px;
        background: #fff;
        transition: all 300ms; }
      .section_2 .slider_navigation p.active {
        opacity: 1; }
        .section_2 .slider_navigation p.active::after {
          width: 30px; }

.sliders {
  position: absolute;
  top: 0;
  height: 100%;
  width: calc(100% - 400px); }
  @media screen and (max-width: 800px) {
    .sliders {
      height: auto;
      position: relative;
      width: 100%; } }
  .sliders .slide {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-size: cover;
    background-position: center;
    transition: width 500ms, left 500ms; }
    @media screen and (max-width: 800px) {
      .sliders .slide {
        height: auto;
        position: relative; } }
  .sliders .slide_2 {
    display: none;
    opacity: 0; }
  .sliders .slide_3 {
    display: none;
    opacity: 0; }
  .sliders .inside_slide {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px; }
    @media screen and (max-width: 800px) {
      .sliders .inside_slide {
        height: auto;
        position: relative; } }
    .sliders .inside_slide > div {
      width: 100%; }
    .sliders .inside_slide .number {
      color: #0093D3;
      font-size: 36px;
      font-weight: 400; }
    .sliders .inside_slide ul {
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      text-align: center; }
      .sliders .inside_slide ul li {
        list-style-type: none;
        margin: 0 auto;
        margin-bottom: 20px;
        max-width: 500px; }
    .sliders .inside_slide h3 {
      font-size: 48px;
      text-align: center;
      font-weight: 500;
      margin: 0 auto;
      margin-bottom: 20px;
      text-transform: uppercase;
      max-width: 600px; }
      @media screen and (max-width: 900px) {
        .sliders .inside_slide h3 {
          font-size: 36px; } }
      @media screen and (max-width: 500px) {
        .sliders .inside_slide h3 {
          font-size: 24px; } }
    .sliders .inside_slide .slide_description {
      font-size: 18px;
      color: #fff; }
    .sliders .inside_slide h5 {
      font-size: 24px;
      position: relative; }
      .sliders .inside_slide h5 span {
        color: #0093D3;
        position: absolute;
        width: 100%;
        top: -40px;
        font-size: 30px;
        font-weight: 700;
        text-align: center; }
    .sliders .inside_slide .date_period {
      color: #0093D3;
      text-align: center;
      font-size: 30px; }

.section_3 {
  overflow: hidden;
  transition: all 1500ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 900px) {
    .section_3 {
      padding-left: 5%;
      padding-right: 5%; } }

#my_canvas {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-size: cover;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  background: #efefef;
  display: none; }

.section_3_heading h2 {
  font-size: 64px;
  font-weight: 400; }

.svg_container {
  width: 80px;
  height: 80px;
  position: relative;
  position: relative; }
  .svg_container svg {
    stroke: #fff;
    fill: none;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .svg_container .icon {
    width: 100%;
    height: 60%;
    position: absolute;
    left: 0;
    top: 20%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }

.prizes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: calc(200px + 5%);
  padding-right: 5%; }
  .prizes .column {
    position: relative; }
  .prizes .column:first-child {
    display: flex;
    align-content: center;
    align-items: center; }
    .prizes .column:first-child .svg_container {
      position: absolute;
      left: 0;
      top: -60px; }
  .prizes .column:nth-child(2) {
    text-align: left;
    padding-left: 20px; }
  @media screen and (max-width: 900px) {
    .prizes {
      padding-left: 5%;
      padding-right: 5%; } }
  @media screen and (max-width: 800px) {
    .prizes .row_2 {
      flex-wrap: wrap; }
      .prizes .row_2 .column {
        width: 100%; }
        .prizes .row_2 .column:nth-child(2) {
          padding-left: 0;
          margin-top: 20px; }
    .prizes .column:first-child {
      justify-content: center;
      text-align: center;
      flex-wrap: wrap; }
      .prizes .column:first-child .svg_container {
        position: relative;
        width: 100%;
        top: 0;
        margin-bottom: 20px; }
    .prizes .column:nth-child(2) {
      text-align: center; } }

.prize_slide {
  position: relative; }
  .prize_slide h4 {
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase; }
  .prize_slide p {
    font-size: 24px;
    font-weight: 300; }
    .prize_slide p b {
      margin-top: 20px;
      display: block;
      font-size: 60px; }
  @media screen and (max-width: 900px) {
    .prize_slide h4 {
      font-size: 36px; }
    .prize_slide p {
      font-size: 18px; }
      .prize_slide p b {
        margin-top: 0;
        font-size: 30px; } }
  @media screen and (max-width: 500px) {
    .prize_slide h4 {
      font-size: 24px; }
    .prize_slide p b {
      font-size: 24px; } }
  .prize_slide.slide_2 {
    margin-bottom: 20px; }
    .prize_slide.slide_2 h4 {
      font-size: 36px; }
    .prize_slide.slide_2 p {
      font-size: 18px; }
    .prize_slide.slide_2 p b {
      margin-top: 0;
      font-size: 30px; }
    @media screen and (max-width: 900px) {
      .prize_slide.slide_2 h4 {
        font-size: 24px; }
      .prize_slide.slide_2 p b {
        font-size: auto; } }
    @media screen and (max-width: 500px) {
      .prize_slide.slide_2 p b {
        font-size: 24px; } }
  .prize_slide .special_div {
    margin-top: 20px;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center; }
    .prize_slide .special_div p {
      margin-left: 10px; }
    @media screen and (max-width: 800px) {
      .prize_slide .special_div {
        justify-content: center; } }

.jury {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: calc(200px + 5%);
  padding-right: 5%; }
  @media screen and (max-width: 900px) {
    .jury {
      padding-left: 5%;
      padding-right: 5%; } }
  .jury h5, .jury h6, .jury p {
    color: #000; }
  .jury h6 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #0093D3;
    font-weight: 500; }
  .jury h5 {
    font-size: 24px;
    font-weight: 500; }
  .jury p {
    margin-top: 20px;
    font-weight: 300; }
  .jury .jury_output {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding-right: 20px; }
    .jury .jury_output p {
      position: relative;
      margin-top: 50px; }
      .jury .jury_output p .left_citate {
        width: 80px;
        height: 3px;
        background: #0093D3;
        position: absolute;
        left: 0;
        top: -20px;
        border-radius: 3px; }
      .jury .jury_output p .right_citate {
        width: 80px;
        height: 3px;
        background: #0093D3;
        position: absolute;
        right: 0;
        bottom: -20px;
        border-radius: 3px; }
  .jury .jury_container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    padding-right: 10px; }
    .jury .jury_container .line_1 {
      height: calc(50% - 72px - 30px);
      width: 1px;
      background: #0093D3;
      opacity: 0.3;
      position: absolute;
      right: -10px;
      top: 30px; }
    .jury .jury_container .line_2 {
      height: calc(50% - 72px - 30px);
      width: 1px;
      background: #0093D3;
      opacity: 0.3;
      position: absolute;
      right: -10px;
      bottom: 30px; }
  .jury .jury_description {
    position: absolute;
    right: -70px;
    top: calc(50% - 32px);
    transform: rotate(90deg);
    text-transform: uppercase;
    font-weight: 300;
    color: #0093D3; }
  .jury .jury_item {
    display: block;
    margin: 10px;
    width: 140px; }
    .jury .jury_item .avatar {
      width: 100%;
      height: 150px;
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
      margin-bottom: 10px; }
    .jury .jury_item h6 {
      font-size: 10px;
      margin-bottom: 2px; }
    .jury .jury_item h5 {
      font-size: 12px; }

.sponsors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding-left: calc(200px + 5%);
  padding-right: calc(200px + 5%); }
  @media screen and (max-width: 1100px) {
    .sponsors {
      padding-right: 5%; } }
  @media screen and (max-width: 900px) {
    .sponsors {
      padding-left: 5%;
      padding-right: 5%; } }
  .sponsors .row_2 {
    position: relative;
    z-index: 1; }
  .sponsors .McKinsey, .sponsors .Kaspersky {
    max-width: 700px; }
  .sponsors h6 {
    font-size: 18px;
    color: #222;
    font-weight: 300;
    margin-bottom: 10px; }
  .sponsors h4 {
    font-size: 36px;
    color: #222;
    font-weight: 500;
    margin-bottom: 20px;
    display: inline-block; }
  .sponsors p {
    color: #222;
    font-size: 16px;
    font-weight: 300;
    margin: 0 auto; }
  .sponsors .sponsor_head {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative; }
    .sponsors .sponsor_head > div {
      position: relative; }
  .sponsors .sponsor_site_button {
    background: #0093D3;
    color: #fff;
    padding: 10px;
    padding-top: 13px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    display: inline-block;
    max-width: 80px;
    text-align: center;
    border-radius: 3px;
    transition: all 300ms;
    cursor: pointer;
    transform: translateY(-5px); }
    .sponsors .sponsor_site_button:hover {
      background: #fff;
      color: #0093D3; }
  .sponsors .McKinsey {
    padding-right: 50px; }
    .sponsors .McKinsey h4, .sponsors .McKinsey h6 {
      color: #0093D3; }
    @media screen and (max-width: 800px) {
      .sponsors .McKinsey {
        padding-right: 0; } }
  .sponsors .Kaspersky {
    text-align: right;
    margin-top: 30px;
    padding-left: 50px; }
    .sponsors .Kaspersky .sponsor_head {
      justify-content: flex-end; }
    .sponsors .Kaspersky h6 {
      display: inline-block; }
    .sponsors .Kaspersky h4, .sponsors .Kaspersky h6 {
      color: #006D55; }
    .sponsors .Kaspersky .sponsor_site_button {
      background: #006D55; }
      .sponsors .Kaspersky .sponsor_site_button:hover {
        background: #fff;
        color: #006D55; }
    @media screen and (max-width: 800px) {
      .sponsors .Kaspersky {
        text-align: left;
        padding-left: 0; }
        .sponsors .Kaspersky .sponsor_head {
          justify-content: flex-start; } }

/*# sourceMappingURL=style.css.map */
