<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>McKinsey Hackathon</title>
        <meta name="Description" content="24-часовой хакатон в сфере Big Data от McKinsey и Gett">
        <script src="static/landing/js/jquery-3.1.1.min.js"></script>
        <script src="static/landing/js/three.js"></script>
        <script src="static/landing/js/GPUParticleSystem.js"></script>
        <script src="static/landing/js/Tween.js"></script>
        <script src="static/landing/js/TweenMax.min.js"></script>
        <script src="static/landing/js/DrawSVGPlugin.min.js"></script>
        <script src="static/landing/js/ScrambleTextPlugin.min.js"></script>
        <script src="static/landing/js/ScrollToPlugin.min.js"></script>
        <script src="static/landing/js/easeljs-0.8.2.min.js"></script>
        <script src="static/landing/js/tweenjs-0.6.2.min.js"></script>

        <script src="/static/cabinet/js/jquery.mask.js"></script>

        <link rel="stylesheet" href="static/landing/css/style.css">
    </head>
    <body>
        <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter46676901 = new Ya.Metrika({ id:46676901, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/46676901" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
        
        <div class="popup_window">
            
            <div class="inside_container">
                <p id="popup_text" class="error">Ошибка</p>
            </div>
            
            
        </div>
        
        <div class="accept_window">
            <div class="accept_background"></div>
            <div class="accept_container">
                <div class="accept_head"><div id="accept_exit" class="accept_exit"><i class="icon ion-close-round" aria-hidden="true"></i>
                    
                </div>
                <p class="accept_header">Предупреждение</p></div>
                
                <p class="accept_text">Все данные о команде будут стерты.</p>
                <div class="accept_footer">
                    <button id="cancel_button" class="main_button cancel_button">Отмена</button>
                    <button id="accept_button" class="main_button accept_button">Подтвердить</button>
                </div>
            </div>
        </div>

        <div class="main_section auth_screen" style="display: none">

            <div class="background">
                
            </div>
            <div class="main_container">
                
                    
                    <p class="intro_label">
                        Регистрация за полминуты
                    </p>
                    <p class="intro_description">
                        Присоединяйтесь к самому захватывающему хакатону года
                    </p>

                    <form class="form_main" id="registration_form">
                        <div class="exit" id="close_registration">
                            <p>Закрыть</p>
                             <div class="cross">
                                <div class="line"></div>
                                <div class="line"></div>
                            </div>
                        </div>


                        {% csrf_token %}
                        <div class="input_container">
                            <input type="text" id="reg_email" placeholder="E-mail">
                            <p class="error_output">Ошибка</p>
                        </div>
                        <div class="input_container">
                            <input id="reg_password" type="password" placeholder="Пароль">
                            <p class="error_output">Ошибка</p>
                        </div>
                        <div class="input_container">
                            <input id="reg_password_confirm" type="password" placeholder="Подтверждение пароля">
                            <p class="error_output">Ошибка</p>
                        </div>
                        
                        <div class="input_container hidden">
                            <input id="reg_name" type="text" placeholder="Имя и фамилия">
                            <p class="error_output">Ошибка</p>
                        </div>
                        
                        <div class="input_container hidden">
                            <input id="reg_phone" type="text" placeholder="Телефон">
                            <p class="error_output">Ошибка</p>
                        </div>
                        <button id="reg_button" class="main_button"><div>Зарегистрироваться
                            <div class="button_icon"><i class="icon ion-chevron-right"></i></div>
                        </div>
                        </button>
                        <p class="registration_link">Уже зарегистрированы? <b id="authorization"><a href="/participants/auth">Войти</a></b></p>

                    </form>
            </div>
        </div>


        <div class="WebGL_container stars" id="starForge_field">

        </div>


        <div class="WebGL_container  scene" id="scene">

        </div>

        <div class="left_navigation_button">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>

            <div class="circle"></div>
        </div>

        <div class="left_navigation">
            <div class="main_line"></div>
            <div class="transition_line" id="transition_line">

            </div>

            <div class="hidden_part">
                <div class="hidden_container">
                    <a href="#first_section">Таймлайн<span>01</span></a>
                    <a href="#criteria">Критерии<span>02</span></a>
                    <a href="#prizes">Призовой фонд<span>03</span></a>
                    <a href="#jury">Жюри<span>04</span></a>
                    <a href="#sponsors">Организаторы<span>05</span></a>
                </div>

            </div>




            <div class="container">

                <div class="item">
                    <div class="column">
                        <p><span class="left_span">0</span><span class="right_span">0</span></p>
                    </div>
                    <div class="column">
                        <p>Начало</p>
                    </div>

                    <div class="point"></div>
                </div>
                <div class="item">
                    <div class="column">
                        <p><span class="left_span">0</span><span class="right_span">1</span></p>
                    </div>
                    <div class="column">
                        <p>Таймлайн</p>
                    </div>

                    <div class="point"></div>
                </div>
                <div class="item">
                    <div class="column">
                        <p><span class="left_span">0</span><span class="right_span">2</span></p>
                    </div>
                    <div class="column">
                        <p>Критерии</p>
                    </div>

                    <div class="point"></div>
                </div>
                <div class="item">
                    <div class="column">
                        <p><span class="left_span">0</span><span class="right_span">3</span></p>
                    </div>
                    <div class="column">
                        <p>Призовой фонд</p>
                    </div>

                    <div class="point"></div>
                </div>
                <div class="item">
                    <div class="column">
                        <p><span class="left_span">0</span><span class="right_span">4</span></p>
                    </div>
                    <div class="column">
                        <p>Жюри</p>
                    </div>

                    <div class="point"></div>
                </div>
                <div class="item">
                    <div class="column">
                        <p><span class="left_span">0</span><span class="right_span">5</span></p>
                    </div>
                    <div class="column">
                        <p>Организаторы</p>
                    </div>

                    <div class="point"></div>
                </div>
            </div>
        </div>

        <div class="dark_screen"></div>

        <div class="registration" id="open_registration">
            <p>Зарегистрироваться</p>
        </div>

        <div class="body_wrapper">
            <section class="first_section" id="first_section">
            <div class="main_container">
                <div class="row_2">
                    <div class="column">
                        <div class="labels">
                            <p class="up_label">Совместно с Gett</p>
                            <img class="logo" src="static/landing/img/logo_simple.png">

                            <h3 class="first_description">
                                24 часа в атмосфере Big Data
                            </h3>
                        </div>
                    </div>
                    <div class="column">
                        <div class="labels">
                            <p class="description_date"> 9-10 декабря</p>
                            <p class="second_description">24-часовой хакатон с призовым фондом 1 000 000 рублей для тех, кто интересуется «большими данными» и ищет возможность доказать, что движется в одном ритме с передовыми технологиями их процессинга.</p>

                        </div>
                    </div>
                </div>

            </div>




            <div class="scroll">
                <div class="scroll_line"></div>
                <p>Прокрутите вниз</p>
            </div>


        </section>
        <section class="section_2 timeline" id="timeline">
            <div class="slider_navigation">
                <div>
                    <p class="active"><span>14 ноября – 3 декабря</span>Формирование команд и отборочный тур</p>
                    <p><span>до 8 декабря</span>Выбор финалистов</p>
                    <p><span>9-10 декабря</span>24-часовой хакатон</p>
                </div>
            </div>
            <div class="sliders">

                <div class="slide slide_1 opened">
                    <div class="inside_slide">
                        <div>
                            <p class="date_period">14 ноября - 3 декабря</p>
                            <h3>
                               Формирование команд и отборочный тур
                            </h3>

                            <ul>
                                <li>Каждый участник, зарегистрировавшийся на сайте, может создать свою команду или присоединиться к уже существующей. </li>
                                <li>При желании укажите в личном кабинете свои ключевые компетенции и опыт – ваш профиль станет доступен другим участникам, и вы быстрее соберете идеальную команду! Состав каждой команды: 2-5 человек. </li>
                                <li>Командам предложено дистанционно выполнить первую часть задания на платформе <a target="_blank" href="https://www.crowdanalytix.com/contests/mckinsey-big-data-hackathon">crowdanalytix.com/contests/mckinsey-big-data-hackathon</a>.</li>
                            </ul>
                            <div class="static_registration_button" id="static_reg_button"><p>
                                Зарегистрироваться
                                </p>

                            </div>

                        </div>



                    </div>
                </div>
                <div class="slide slide_2">
                    <div class="inside_slide">
                        <div>
                            <p class="date_period">до 8 декабря</p>
                            <h3>
                                Выбор финалистов
                            </h3>

                            <ul>
                                <li>Обратите внимание, на нашем сайте каждой команде нобходимо предоставить ссылку на один профиль Crowdanalytix.</li>
                                <li>На очную часть хакатона будут приглашены 20 команд из лидерборда по данному заданию. Мы проверим коды и обявим финалистов не позднее вечера 7 декабря.</li>
                            </ul>


                        </div>



                    </div>
                </div>
                <div class="slide slide_3">

                    <div class="inside_slide">
                        <div>
                            <p class="date_period">9-10 декабря</p>
                            <h3>
                                24-часовой хакатон
                            </h3>
                            <div class="timetable_button" id="timeline_reducer"><p>
                                Расписание
                                </p>
                            </div>
                            <ul id="timeline_description">
                                <li>На сутки команды погрузятся в энергичную атмосферу московского офиса McKinsey, чтобы реализовать, а затем презентовать лучшее решение сложной, но увлекательной задачи, подготовленной нашими экспертами.</li>
                                <li>Командам будет предложено 4 темы для хакатона, каждая из них доступна к решению и мы не ограничиваем участников выбором только одной темы. Для выполнения заданий хакатона участники очного этапа смогут воспользоваться просторами AWS.</li>
                                <li>После защиты решений перед членам жюри состоится награждение победителей и призеров.</li>
                            </ul>


                            <ul class="timetable" id="timetable" style="display: none">
                                <li class="day">9 декабря</li>
                                <li>11:30 - сбор гостей</li>
                                <li>12:00 - вступительная презентация от организаторов хакатона</li>
                                <li>13:00 - старт хакатона</li>
                                <li class="day top_indent">10 декабря</li>
                                <li>11:00 - 11:30 -  каждой команде дается три минуты, чтобы изложить свои идеи двум членам жюри</li>
                                <li>11:30 – объявление десяти команд, которые представят свои решения всем членам жюри</li>
                                <li>13:00 – финальные презентации десяти команд на английском языке</li>
                                <li>15:00 - обсуждение результатов членами жюри</li>
                                <li>15:30 - объявление победителей и неформальное общение</li>
                                
                                
                            </ul>




                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="section_3 section_white criteria" id="criteria">
            <div class="main_container">
                 <div class="section_3_heading">
                    <h2>Критерии</h2>
                    <p class="heading">Команды будут оцениваться исходя из четырех критериев:</p>
                </div>

                <div class="row_2">
                    <div class="column"><h6>Алгоритм</h6><p><span>1</span>Насколько совершенно решение с технической точки зрения? Насколько сложной была проблема, которую решала команда?</p></div>
                    <div class="column"><h6>Результативность</h6><p><span>2</span>Работает ли решение? Реализовала ли команда максимум своего потенциала и достигла ли всего, что планировала? Где может быть применено решение и какой эффект оно окажет на бизнес и пользователей?</p></div>
                </div>
                 <div class="row_2">
                    <div class="column"><h6>Оригинальность</h6><p><span>3</span>Использовала ли команда все доступные в открытых источниках релевантные данные? Является ли решение инновационным для отрасли предоставления транспортных услуг?</p></div>
                    <div class="column"><h6>Подача материала</h6><p><span>4</span>Как команда рассказала о своем решении аудитории? Включает ли презентация проблему, использованные методы и воплощенное решение? Была ли презентация хорошо структурирована и в пределах отведенного для нее времени?</p></div>
                </div>
            </div>
           



        </section>
        <section class="section_4 section_white prizes" id="prizes">
            <div class="WebGL_container circle_field" id="circle_field">

            </div>


            <div class="main_container"> 

                <div class="row_2">
                    <div class="column">
                        <div class="svg_container" id="svg_place_1">

                            <svg viewBox="0 0 120 120" version="1.1"
                                 xmlns="http://www.w3.org/2000/svg">
                                <circle id="svg_place_1_circle" cx="60" cy="60" r="58"/>
                            </svg>

                            <div class="icon" style="background-image:url(static/landing/img/oscar-academy-award.png)"></div>
                        </div>
                        <div class="prize_slide slide_1">

                            <h4>Победитель</h4>
                            <p>Команда, занявшая первое место, получит <b>500 000 руб.</b></p>
                        </div>
                        <div class="prize_slide slide_2">

                        </div>
                        <div class="prize_slide slide_3">

                        </div>
                    </div>
                    <div class="column">
                        <div class="prize_slide slide_2">
                            <p>Приз за второе место: <b>300 000 руб.</b><br>
                                Приз за третье место: <b>200 000 руб.</b>
                            </p>

                            

                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="section_5 jury section_black" id="jury">

            <div class="main_container">


                <div class="row_2">
                    <div class="column jury_output">
                        <div class="citate_container">
                            <h6 id="change_position">Руководитель алгоритмической команды Gett</h6>
                            <h5 id="change_name">Янир Идесис</h5>
                            <p id="citate_wrapper"><span class="left_citate"></span><span class="right_citate"></span><span id="change_citate">Каждому под силу стать экспертом в области транспорта. Продемонстрируйте, на что вы способны и какие проблемы можете решить с помощью больших данных.</span></p>
                        </div>

                    </div>
                    <div class="column jury_container">
                        <div class="line_1"></div>
                        <div class="line_2"></div>
                        <p class="jury_description">члены жюри</p>
                        <div class="jury_item">
                            <div class="avatar" style="background-image:url(static/landing/img/photos/Dutov.jpg)"></div>
                            <h6>Менеджер проектов McKinsey</h6>
                            <h5>Владислав Дутов</h5>
                        </div>
                        <div class="jury_item">
                            <div class="avatar" style="background-image:url(static/landing/img/photos/Ustinov.jpg)"></div>
                            <h6>Партнер McKinsey</h6>
                            <h5>Евгений Устинов</h5>
                        </div>
                        <div class="jury_item">
                            <div class="avatar" style="background-image:url(static/landing/img/photos/Aptekman.jpg)"></div>
                            <h6>Партнер McKinsey</h6>
                            <h5>Александр Аптекман</h5>
                        </div>
                        <div class="jury_item">
                            <div class="avatar" style="background-image:url(static/landing/img/photos/Ideses.jpg)"></div>
                            <h6>Руководитель алгоритмической команды Gett</h6>
                            <h5>Янир Идесис</h5>
                        </div>
                        <div class="jury_item">
                            <div class="avatar" style="background-image:url(static/landing/img/photos/Begelfor.jpg)"></div>
                            <h6>Старший специалист по анализу геопространственных данных в Gett</h6>
                            <h5>Евгений Бегельфор</h5>
                        </div>
                        
                        <div class="jury_item">
                            <div class="avatar" style="background-image:url(static/landing/img/photos/Alekseev.jpg)"></div>
                            <h6>Руководитель направления анализа данных, AliExpress Россия</h6>
                            <h5>Максим Алексеев</h5>
                        </div>
                        <div class="jury_item">
                            <div class="avatar" style="background-image:url(static/landing/img/photos/Yakushkin.jpg)"></div>
                            <h6>Директор по стратегии и развитию бизнеса, AliExpress Россия</h6>
                            <h5>Евгений Якушкин</h5>
                        </div>

                    </div>
                </div>




            </div>

        </section>
        <div class="WebGL_container floor" id="webgl_floor">

        </div>
        <section class="section_6 section_black sponsors" id="sponsors">
            <div class="McKinsey">
                <div class="sponsor_head">
                    <div>
                        <h6>Консалтинговая компания</h6>
                        <h4>
                            McKinsey
                        </h4>
                        <a href="http://www.mckinsey.com/russia/" class="sponsor_site_button">Сайт</a>
                    </div>

                </div>

                <p>
                    McKinsey – ведущая международная компания, предоставляющая услуги в области управленческого консалтинга. С 1993г. McKinsey работает с лидерами российского рынка, оказывая услуги широкому кругу клиентов, в том числе компаниям нефтегазового, банковского, розничного и других секторов.
                </p>

            </div>

            <div class="Gett">
                <div class="sponsor_head">
                    <div>

                        <h6>Сервис заказа такси</h6>
                        
                        <h4>
                            Gett
                        </h4> 
                        <a href="https://gett.com" class="sponsor_site_button">Сайт</a>

                    </div>
                </div>



                <p>
                    Gett – международный сервис заказа такси с акцентом на качестве, в котором можно одним кликом заказать автомобиль с высококвалифицированными водителями более чем в 100 городах мира. Компания является мировым лидером в области корпоративных поездок: Gett доверяют более 8 000 ведущих мировых брендов.
                </p>

            </div>

            <div class="row_2">
                <div class="column">



                </div>
                <div class="column">


                </div>
            </div>
        </section>
        </div>

        


        <script src="static/landing/js/background.js"></script>
        <script src="static/landing/js/save_script.js"></script>
        <script src="static/landing/js/script.js"></script>
        <script src="static/landing/js/shifting_floor.js"></script>
        <script src="static/landing/js/app.js"></script>
    </body>
</html>