<html><!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">

<style type="text/css">
@font-face {
font-family: 'Open Sans'; font-style: italic; font-weight: 300; src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url('https://fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxmpz0z5zL8i4lJVsvdmh4hw.ttf') format('truetype');
}
@font-face {
font-family: 'Open Sans'; font-style: italic; font-weight: 400; src: local('Open Sans Italic'), local('OpenSans-Italic'), url('https://fonts.gstatic.com/s/opensans/v14/xjAJXh38I15wypJXxuGMBlwIJl2YiaXHM0xUx_ugXFg.ttf') format('truetype');
}
@font-face {
font-family: 'Open Sans'; font-style: italic; font-weight: 600; src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url('https://fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxs48OaV_SNIXktLWq3KXug4.ttf') format('truetype');
}
@font-face {
font-family: 'Open Sans'; font-style: italic; font-weight: 700; src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('https://fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxgbEkm-f2UOALJ0ub4PpKrw.ttf') format('truetype');
}
@font-face {
font-family: 'Open Sans'; font-style: italic; font-weight: 800; src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url('https://fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxpUejhVR4X9s8dmwuSBKoOY.ttf') format('truetype');
}
@font-face {
font-family: 'Open Sans'; font-style: normal; font-weight: 300; src: local('Open Sans Light'), local('OpenSans-Light'), url('https://fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTWeP1y_Bkidl4ESyB_O2G_c.ttf') format('truetype');
}
@font-face {
font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local('Open Sans Regular'), local('OpenSans-Regular'), url('https://fonts.gstatic.com/s/opensans/v14/K88pR3goAWT7BTt32Z01m6CWcynf_cDxXwCLxiixG1c.ttf') format('truetype');
}
@font-face {
font-family: 'Open Sans'; font-style: normal; font-weight: 600; src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('https://fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSmeP1y_Bkidl4ESyB_O2G_c.ttf') format('truetype');
}
@font-face {
font-family: 'Open Sans'; font-style: normal; font-weight: 700; src: local('Open Sans Bold'), local('OpenSans-Bold'), url('https://fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzGeP1y_Bkidl4ESyB_O2G_c.ttf') format('truetype');
}
@font-face {
font-family: 'Open Sans'; font-style: normal; font-weight: 800; src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('https://fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hmeP1y_Bkidl4ESyB_O2G_c.ttf') format('truetype');
}
@font-face {
font-family: "GothamPro"; src: url("http://bigdata-hack.ru/static/cabinet/fonts/GothamProRegular/GothamProRegular.eot"); : //bigdata-hack.ru/static/cabinet/fonts/gothamproregular/gothamproregular.woff") format("woff"),url("http: //bigdata-hack.ru/static/cabinet/fonts/GothamProRegular/GothamProRegular.ttf") format("truetype"); font-style: normal; font-weight: 400;
}
@font-face {
font-family: "GothamPro"; src: url("http://bigdata-hack.ru/static/cabinet/fonts/GothamProBold/GothamProBold.eot"); : //bigdata-hack.ru/static/cabinet/fonts/gothamprobold/gothamprobold.woff") format("woff"),url("http: //bigdata-hack.ru/static/cabinet/fonts/GothamProBold/GothamProBold.ttf") format("truetype"); font-style: normal; font-weight: 700;
}
@font-face {
font-family: "GothamPro"; src: url("http://bigdata-hack.ru/static/cabinet/fonts/GothamProBlack/GothamProBlack.eot"); : //bigdata-hack.ru/static/cabinet/fonts/gothamproblack/gothamproblack.woff") format("woff"),url("http: //bigdata-hack.ru/static/cabinet/fonts/GothamProBlack/GothamProBlack.ttf") format("truetype"); font-style: normal; font-weight: 900;
}
@font-face {
font-family: "GothamPro"; src: url("http://bigdata-hack.ru/static/cabinet/fonts/GothamProItalic/GothamProItalic.eot"); : //bigdata-hack.ru/static/cabinet/fonts/gothamproitalic/gothamproitalic.woff") format("woff"),url("http: //bigdata-hack.ru/static/cabinet/fonts/GothamProItalic/GothamProItalic.ttf") format("truetype"); font-style: italic; font-weight: normal;
}
@font-face {
font-family: "GothamPro"; src: url("http://bigdata-hack.ru/static/cabinet/fonts/GothamProMedium/GothamProMedium.eot"); : //bigdata-hack.ru/static/cabinet/fonts/gothampromedium/gothampromedium.woff") format("woff"),url("http: //bigdata-hack.ru/static/cabinet/fonts/GothamProMedium/GothamProMedium.ttf") format("truetype"); font-style: normal; font-weight: 500;
}
@font-face {
font-family: "GothamPro"; src: url("http://bigdata-hack.ru/static/cabinet/fonts/GothamProLight/GothamProLight.eot"); : //bigdata-hack.ru/static/cabinet/fonts/gothamprolight/gothamprolight.woff") format("woff"),url("http: //bigdata-hack.ru/static/cabinet/fonts/GothamProLight/GothamProLight.ttf") format("truetype"); font-style: normal; font-weight: 300;
}
@font-face {
font-family: "GothamPro"; src: url("http://bigdata-hack.ru/static/cabinet/fonts/GothamProMediumItalic/GothamProMediumItalic.eot"); : //bigdata-hack.ru/static/cabinet/fonts/gothampromediumitalic/gothampromediumitalic.woff") format("woff"),url("http: //bigdata-hack.ru/static/cabinet/fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype"); font-style: italic; font-weight: 500;
}
@font-face {
font-family: "GothamPro"; src: url("http://bigdata-hack.ru/static/cabinet/fonts/GothamProLightItalic/GothamProLightItalic.eot"); : //bigdata-hack.ru/static/cabinet/fonts/gothamprolightitalic/gothamprolightitalic.woff") format("woff"),url("http: //bigdata-hack.ru/static/cabinet/fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype"); font-style: italic; font-weight: 300;
}
@font-face {
font-family: "GothamPro"; src: url("http://bigdata-hack.ru/static/cabinet/fonts/GothamProBoldItalic/GothamProBoldItalic.eot"); : //bigdata-hack.ru/static/cabinet/fonts/gothamprobolditalic/gothamprobolditalic.woff") format("woff"),url("http: //bigdata-hack.ru/static/cabinet/fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype"); font-style: italic; font-weight: 700;
}
@font-face {
font-family: "GothamPro"; src: url("http://bigdata-hack.ru/static/cabinet/fonts/GothamProBlackItalic/GothamProBlackItalic.eot"); : //bigdata-hack.ru/static/cabinet/fonts/gothamproblackitalic/gothamproblackitalic.woff") format("woff"),url("http: //bigdata-hack.ru/static/cabinet/fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype"); font-style: italic; font-weight: 900;
}
.button:hover {
background: #03a059; border-color: #03a059;
}
</style>
<table class="body-wrap" style="font-size: 100%; font-family: 'GothamPro', 'Open Sans', 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; line-height: 1.65; width: 100% !important; height: 100%; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; background: #efefef; margin: 0; padding: 0;" bgcolor="#efefef"><tbody><tr style="font-size: 100%; font-family: 'GothamPro', 'Open Sans', 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; line-height: 1.65; margin: 0; padding: 0;"><td class="container" style="font-size: 100%; font-family: 'GothamPro', 'Open Sans', 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; line-height: 1.65; display: block !important; clear: both !important; max-width: 580px !important; margin: 0 auto; padding: 0;">
    <!-- Message start -->
    <table style="font-size: 100%; font-family: 'GothamPro', 'Open Sans', 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; line-height: 1.65; width: 100% !important; border-collapse: collapse; margin: 0; padding: 0;"><tbody><tr style="font-size: 100%; font-family: 'GothamPro', 'Open Sans', 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; line-height: 1.65; margin: 0; padding: 0;"><td align="center" class="masthead" style="font-size: 100%; font-family: 'GothamPro', 'Open Sans', 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; line-height: 1.65; color: white; background: url(http://bigdata-hack.ru/static/cabinet/img/email_background.jpg); margin: 0; padding: 80px 0;">
        <h1 style="font-size: 32px; font-family: 'GothamPro', 'Open Sans', 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; line-height: 1.25; font-weight: 600; max-width: 90%; margin: 0 auto; padding: 0;">{{header}}</h1>
    </td>
</tr><tr style="font-size: 100%; font-family: 'GothamPro', 'Open Sans', 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; line-height: 1.65; margin: 0; padding: 0;"><td class="content" style="font-size: 100%; font-family: 'GothamPro', 'Open Sans', 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; line-height: 1.65; background: white; margin: 0; padding: 30px 35px;" bgcolor="white">
{{body}}
<p style="font-size: 16px; font-family: 'GothamPro', 'Open Sans', 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; line-height: 1.65; font-weight: normal; margin: 0 0 20px; padding: 0;"><em style="font-size: 100%; font-family: 'GothamPro', 'Open Sans', 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; line-height: 1.65; margin: 0; padding: 0;">– Команда McKinsey Hackathon</em></p>
</td>
</tr></tbody></table></td>
</tr><tr style="font-size: 100%; font-family: 'GothamPro', 'Open Sans', 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; line-height: 1.65; margin: 0; padding: 0;"><td class="container" style="font-size: 100%; font-family: 'GothamPro', 'Open Sans', 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; line-height: 1.65; display: block !important; clear: both !important; max-width: 580px !important; margin: 0 auto; padding: 0;">
<!-- Message start -->
<table style="font-size: 100%; font-family: 'GothamPro', 'Open Sans', 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; line-height: 1.65; width: 100% !important; border-collapse: collapse; margin: 0; padding: 0;"><tbody><tr style="font-size: 100%; font-family: 'GothamPro', 'Open Sans', 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; line-height: 1.65; margin: 0; padding: 0;"><td class="content footer" align="center" style="font-size: 100%; font-family: 'GothamPro', 'Open Sans', 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; line-height: 1.65; background: white none; margin: 0; padding: 30px 35px;" bgcolor="white">
<p style="font-size: 14px; font-family: 'GothamPro', 'Open Sans', 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; line-height: 1.65; font-weight: normal; color: #888; text-align: center; margin: 0; padding: 0;" align="center"> <a href="http://bigdata-hack.ru/" style="font-size: 100%; font-family: 'GothamPro', 'Open Sans', 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; line-height: 1.65; color: #888; text-decoration: none; font-weight: bold; margin: 0; padding: 0;">McKinsey Hackathon</a> – самый захватывающий хакатон года</p>
<p style="font-size: 14px; font-family: 'GothamPro', 'Open Sans', 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; line-height: 1.65; font-weight: normal; color: #888; text-align: center; margin: 0; padding: 0;" align="center">Техподдержка: <a href="mailto:" style="font-size: 100%; font-family: 'GothamPro', 'Open Sans', 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; line-height: 1.65; color: #888; text-decoration: none; font-weight: bold; margin: 0; padding: 0;">info@bigdata-hack.ru</a>
</p></td>
</tr></tbody></table></td>
</tr></tbody></table>
</html>
