<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Команды</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/cabinet/css/style.css">
    <link rel="stylesheet" href="/static/cabinet/font-awesome/css/font-awesome.min.css">

    <script src="/static/cabinet/js/jquery-3.1.1.min.js"></script>

    <script src="/static/cabinet/js/TweenMax.min.js"></script>
</head>

<body>
    <div class="cabinet_navigation">
       <div class="inside_container">
           <div class="navigation_logo"></div>
           <a href="">Мой профиль</a>
           <a href="">Моя команда</a>
        
           <a href="">Команды</a>
           <a href="">Участники</a>

       </div>
      
    </div>
    <div class="main_section">
        <div class="main_container">
            
            <h1 class="page_label">Команды</h1>
            <h6 class="page_description">Раздел для поиска и подбора команды</h6>

            <div class="search_block">
                <input type="text" id="team_search" placeholder="искать...">
                <label for="team_search"><i class="fa fa-search" aria-hidden="true"></i></label>

            </div>
            
            <div class="team_output_items">
                <div class="item">
                    <div class="heading" style="background-image:url(/static/cabinet/img/mh3S-VRD.jpg)"></div>
                    <h5>Гловеры</h5>
                    <p class="quantity">3 участников</p>
                </div>
                <div class="item">
                    <div class="heading" style="background-image:url(/static/cabinet/img/fox-01.jpg)"></div>
                    <h5>Flexing</h5>
                    <p class="quantity">3 участников</p>
                </div>
                
                <div class="item">
                    <div class="heading" style="background-image:url(/static/cabinet/img/mh3S-VRD.jpg)"></div>
                    <h5>Гловеры</h5>
                    <p class="quantity">3 участников</p>
                </div>
                <div class="item">
                    <div class="heading" style="background-image:url(/static/cabinet/img/mh3S-VRD.jpg)"></div>
                    <h5>Гловеры</h5>
                    <p class="quantity">3 участников</p>
                </div>
                <div class="item">
                    <div class="heading" style="background-image:url(/static/cabinet/img/fox-01.jpg)"></div>
                    <h5>Flexing</h5>
                    <p class="quantity">3 участников</p>
                </div>

                <div class="item">
                    <div class="heading" style="background-image:url(/static/cabinet/img/mh3S-VRD.jpg)"></div>
                    <h5>Гловеры</h5>
                    <p class="quantity">3 участников</p>
                </div>
            </div>
        </div>
    </div>


    <script src="/static/cabinet/js/code.js"></script>
</body>

</html>
