{% extends "base_template.html" %}
{% block head %}
<title>Моя команда</title>
{% endblock %}
{% block body %}
	<div class="page_header center">
		<div class="main_container">
			
			{% if not user.team %}
				<h2 class="page_label">Ваша команда</h2>
				
				<h5 class="page_label_uphead">Здесь будут показаны приглашения от команд других участников. Также Вы можете создать собственную команду.</h5>
			{% else %}
				<h2 class="page_label">Ваша команда</h2>
				
				<h5 class="page_label_uphead">Здесь будут показаны запросы на вступление в Вашу команду, а также приглашения от команд других участников.</h5>
			{% endif %}
		</div>
	</div>
	<div class="main_section">


		<div class="main_container">
			<div class="form_main big" id="team_edit_form">
				{% if user.team %}
					<div class="form_section">
						
						<div class="row_2">
							
							<div class="column">
								<form method="post" id="upload_avatar" action="/participants/profile/edit_avatar">
									{% csrf_token %}
									
									<div class="user_avatar team_circle" id="team_avatar" {% if team.avatar %} style="background-image:url(/media/{{team.avatar}}" {% endif %}>
									
									{% if team.creater_id == user.id %}
									<div class="description">
										<p>Перенесите или кликните, чтобы загрузить</p>
										<input id="avatar_for_team" name="avatar" accept="image/gif, image/jpeg, image/png" type="file" class="upload_image_avatar">
									</div>
									{% endif %}
								</div>
								
								
							</form>
							{% if team.creater_id == user.id %}
							<div class="avatar_right_part">
								{% if team.creater_id == user.id %}
									<button id="upload_avatar_button" class="upload"><i class="icon ion-upload"></i> Загрузить</button>
									<p class="avatar_description"> Вы можете загрузить любое изображение, не превышающее 512 кб. Аватар отображается на странице Вашей команды и в поисковой выдаче.</p>
								{% else %}
									<p class="team_name">Аватар группы</p>
									<p class="avatar_description">Создатель группы может загрузить любое изображение, не превышающее 512 кб. Аватар отображается на странице команды и в поисковой выдаче.</p>
								{% endif%}
							</div>
							{% endif %}
						</div>
						<div class="column">
							
						</div>
					</div>
					
				</div>
				{% if is_time %}
				<div class="form_section">
					<h3 class="form_section_label">Загружаемые файлы</h3>
					{% if post_time %}
					<h6 class="form_section_sublabel">Этап загрузки файлов закончился!</h6>
					{% else %}
					<h6 class="form_section_sublabel">Этап загрузки файлов начался!</h6>

					{% endif %}
					<div class="form_field_container">
						<div class="input_container with_label file_container">
							<label>Файл №1</label>
						<div class="file_row">
							<input type="file" id="upload_file_1" class="file_input">
							<button  class="upload {%if post_time %} disabled {% endif %} upload_file"><i class="icon ion-upload"></i> Загрузить</button>
							{% if team.file_1 %}
							<a class="file_link" id="link_file_1" href="/media/{{team.file_1}}">/media/{{team.file_1}}</a>
							{% endif %}
							
						</div>
						
						</div>
						<div class="field_description">
							<p>Сюда загружать Ваше резюме</p>
						</div>
					</div>

					<div class="form_field_container">
						<div class="input_container with_label file_container">
							<label>Файл №2</label>
						<div class="file_row">
							<input type="file" class="file_input" id="upload_file_2">
							<button class="upload {%if post_time %} disabled {% endif %} upload_file"><i class="icon ion-upload"></i> Загрузить</button>
							{% if team.file_2 %}
							<a class="file_link" id="link_file_2" href="/media/{{team_file_2}}">/media/{{team.file_2}}</a>
							{% endif %}
							
						</div>
						
						</div>
						<div class="field_description">
							<p>Сюда загружать Ваше резюме</p>
						</div>
					</div>
					
					
				</div>

				{% endif %}
				<div class="form_section">
					
					<h3 class="form_section_label">Информация о команде</h3>
					{% if team.creater_id == user.id %}
						<button class="save_button" id="save_team_info">
						Сохранить изменения
						</button>
					{% endif %}
					<div class="form_field_container team_members">
						<div class="input_container with_label">
							<label>Члены команды</label>
							{% for member in members %}
								<div class="team_member" id="{{member.id}}">
									<a href="/participants/{{member.id}}" class="member_avatar" {% if member.avatar %} style="background-image:url(/media/{{member.avatar}})" {% endif %}></a>
									<p class="member_name">{{member.name}}</p>
									{% if member.id != team.creater_id and user.id == team.creater_id %}
										<p class="member_delete">Исключить</p>
									{% endif %}
								</div>
							{% endfor %}
						</div>
					</div>
					{% if team.creater_id == user.id %}
					<div class="form_field_container">
						<div class="input_container with_label toggle">

							<label class="main_label">Открыть другим участникам доступ к команде</label>
							{% if team.is_hidden %}
								<div class="toggle_container">
									<input type="checkbox" id="public_team_profile">
									<label for="public_team_profile">
										<div class="button"></div>
									</label>
									<p class="status">Нет</p>
									<p class="status_description">Ваша команда скрыта от поиска</p>
								</div>
							{% else %}
								<div class="toggle_container">
									<input type="checkbox" checked="checked" id="public_team_profile">
									<label for="public_team_profile">
										<div class="button"></div>
									</label>
									<p class="status">Да</p>
									<p class="status_description">Ваша команда видна в поиске</p>
								</div>
							{% endif %}
							
							
							<p class="error_output">Ошибка</p>
						</div>
						<div class="field_description">
							<p>Советуем оставить данный пункт меню включенным, иначе Вам будет тяжелее подобрать участников для команды</p>
						</div>
					</div>
					{% endif %}
					<div class="form_field_container">
						<div class="input_container with_label">
							<label>Название команды</label>
							<input {% if team.creater_id != user.id %} disabled {% endif %} type="text" id="team_name" placeholder="name" value="{{team.name}}">
							
							<p class="error_output">Ошибка</p>
						</div>
						<div class="field_description">
							<p>Название команды видно всем пользователям.</p>
						</div>
					</div>
					{%  if user.team.id == team.id  %}
					<div class="form_field_container">
						<div class="input_container with_label">
							<label>Ссылка на профиль в CrowdAnalytix</label>
							<input {% if team.creater_id != user.id %} disabled {% endif %} type="text" id="team_link" placeholder="Ссылка на профиль" value="{% if team.link %}{{ team.link }}{% endif %}">
							
							<p class="error_output">Ошибка</p>
						</div>
						<div class="field_description">
							<p>Ссылка на профиль необходима для участия в отборочном этапе.</p>
						</div>
					</div>
					{% endif %}
					
					
					<div class="form_field_container">
						<div class="input_container with_label multiple_select">
							<label>Требуемые компетенции <i class="fa fa-superpowers" aria-hidden="true"></i> (до 5-и)</label>
							<div class="select" id="team_skills">
								{% for skill in team.skills %}<div id="{{skill.id}}" class="option"><p>{{skill.name}}</p><i class="icon ion-close-round" aria-hidden="true"></i></div>{% endfor %}
							</div>
							
							<p class="error_output">Ошибка</p>
							{% if team.creater_id == user.id %}
							<div class="nested_list" id="skills">
								<div class="row_2 flex_top">
									<div class="column">
										{% for group in skill_groups %}
											{% if not forloop.counter|divisibleby:2 %}
												<div id="{{ group.id}}" class="extended_item">
													<div class="header">
														<p>{{group.name}}</p>
														<i class="icon ion-chevron-down" aria-hidden="true"></i>
													</div>
													<div class="items">
														{% for skill in group.skills %}
															<div class="single_item" id="{{skill.id}}">
																<p>{{skill.name}}</p>
																<i class="icon ion-plus" aria-hidden="true"></i>
															</div>
														{% endfor  %}
													</div>
												</div>
											{% endif %}
										{% endfor  %}
										
									</div>
									<div class="column">
										{% for group in skill_groups %}
											{% if forloop.counter|divisibleby:2 %}
												<div id="{{ group.id}}" class="extended_item">
													<div class="header">
														<p>{{group.name}}</p>
														<i class="icon ion-chevron-down" aria-hidden="true"></i>
													</div>
													<div class="items">
														{% for skill in group.skills %}
															<div class="single_item" id="{{skill.id}}">
																<p>{{skill.name}}</p>
																<i class="icon ion-plus" aria-hidden="true"></i>
															</div>
														{% endfor  %}
													</div>
												</div>
											{% endif %}
										{% endfor  %}
									</div>
								</div>
							</div>
							{% endif %}
						</div>
						<div class="field_description">
							<p>Выберете те компетенции, в которых нуждается Ваша команда. Они отображаются в профиле Вашей команды (в том числе в поиске), и по ним Вашу команду будут находить другие участники.</p>
						</div>
					</div>
					<div id="team_description" class="form_field_container experience_textarea">
						<div class="input_container with_label textarea_container">
							<label>Описание команды</label>
							
							<textarea {% if team.creater_id != user.id %} disabled {% endif %} rows="5" placeholder="Опишите Ваш опыт работы над проектами...">{% if team.about %} {{team.about}} {% endif %}</textarea>
							
							<p class="error_output">Ошибка</p>
						</div>
						<div class="field_description">
							<p>Данное поле отображается в профиле команды. В нем Вы можете указать любую необходимую информацию.</p>
						</div>
					</div>
				</div>
			{% endif %}

<!--- ЗДЕСЬ -->
			{% if not is_time %}
			<div class="form_section">
				<div class="row_2 flex_start">
					<div class="column">
						{% if not user.team %}
							<div class="invites_window">
								<h3 class="invites_name">Приглашения в команду</h3>
								
								<div class="invites_container">
									{% if accept and team.member_count < 2%}
									
									{% for inv in accept %}
										<div class="invites_item">
											<div class="invites_avatar" {% if inv.avatar %} style="background-image:url(/media/{inv.avatar})" {% endif %}>
										</div>
										<p class="invites_header">{{inv.name}}</p>
										<p class="invites_description">Приглашает Вас к себе</p>
										<div id="{{inv.id}}" class="invites_accept team"><p>Смотреть</p></div>
									</div>
								{% endfor %}

								{% elif team.member_count >= 2 %}
								<p class="null_invites">Вы состоите в команде, состоящей из более чем одного участника, и поэтому не можете видеть или принимать приглашения от других команд.</p>
								{% else %}
								<p class="null_invites">На данный момент у Вас нет приглашений от других команд.</p>
								{% endif %}
								
							</div>
							
								
						</div>
						{% else %}
						<div class="invites_window">
								<h3 class="invites_name">Приглашения от Вашей команды</h3>
								{% if team.accept %}
								<div class="invites_container">
								{% for inv in team.accept %}
										<div class="invites_item">
											<div class="invites_avatar" {% if inv.avatar %} style="background-image:url(/media/{inv.avatar})" {% endif %}>
										</div>
										<p class="invites_header">{{inv.name}}</p>
										<p class="invites_description">Приглашен в команду</p>
										<div id="{{inv.id}}" class="invites_accept user"><p>Смотреть</p></div>
									</div>
								{% endfor %}
							</div>
							{% else %}
							<p class="null_invites">На данный момент Ваша команда никого не приглашала.</p>

							{% endif %}

						</div>
						{% endif %}

				</div>
				<div class="column">
					{% if user.team  %}
						<div class="invites_window">
							<h3 class="invites_name">Заявки на вступление</h3>
							{% if team.join %}
							<div class="invites_container">
								
								{% for inv in team.join %}
									<div class="invites_item">
										<div class="invites_avatar" {% if inv.avatar %} style="background-image:url(/media/{inv.avatar})" {% endif %}>
									</div>
									<p class="invites_header">{{inv.name}}</p>
									<p class="invites_description">Хочет вступить в команду</p>
									<div id="{{inv.id}}" class="invites_accept user"><p>Смотреть</p></div>
								</div>
							{% endfor %}
							
						</div>
						{% else %}
							<p class="null_invites">На данный момент у Вашей команды нет заявок на вступление от участников хакатона.</p>

							{% endif %}
					
			</div>
				{% else %}
					<div class="team_left_part">
						<p class="Team_name">Пока что Вы не состоите в команде</p>
						<p class="avatar_description">Создайте или найдите себе подходящую команду, чтобы принять участвие в хакатоне.</p>
						<button class="main_button create_team_button" id="create_team">
						Создать команду
						</button>
						<a class="search_team_link" href="/teams">Найти команду</a>
					</div>

			<form action="/file-upload" class="user_avatar team">
				
			</form>
				
{% endif %}
				
			</div>
			
		</div>
	</div>

	
{% if user.team %}
	<div class="form_section">
		<div class="row_2 flex_start">
			<div class="column">
				<div class="invites_window">
						<h3 class="invites_name">Приглашения в команду</h3>
						
						<div class="invites_container">
							{% if accept and team.member_count < 2%}
							
							{% for inv in accept %}
								<div class="invites_item">
									<div class="invites_avatar" {% if inv.avatar %} style="background-image:url(/media/{inv.avatar})" {% endif %}>
								</div>
								<p class="invites_header">{{inv.name}}</p>
								<p class="invites_description">Приглашает Вас к себе</p>
								<div id="{{inv.id}}" class="invites_accept team"><p>Смотреть</p></div>
							</div>
						{% endfor %}

						{% elif team.member_count >= 2 %}
						<p class="null_invites">Вы состоите в команде, состоящей из более чем одного участника, и поэтому не можете видеть или принимать приглашения от других команд.</p>
						{% else %}
						<p class="null_invites">На данный момент у Вас нет приглашений от других команд.</p>
						{% endif %}
						
					</div>
					
						
				</div>
			</div>
			<div class="column"></div>
		</div>
	</div>
{% endif %}
{% endif %}


{% if team and not is_time %}
{% if team.creater_id == user.id %}
	<button class="delete_button" id="delete_team">
	Удалить команду <i class="fa fa-trash-o" aria-hidden="true"></i>
	</button>
{% else %}
	<button class="delete_button" id="leave_team">
	Покинуть команду <i class="fa fa-trash-o" aria-hidden="true"></i>
	</button>
{% endif %}
</div>
{% endif %}

</div>

<form class="form_main team_creation" id="team_creation_form">
{% csrf_token %}

<div class="input_container">
	<input type="text" id="reg_team_name" placeholder="Имя команды">
	<p class="error_output">Ошибка</p>
	
	
</div>


<button id="create_team_end" class="main_button"><div>Создать команду  </div>


</button>

<p class="registration_link">Вернуться обратно? <b id="back_to_edit_team">Назад</b></p>
</form>




</div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/cabinet/js/perfect-scrollbar.jquery.min.js"></script>
{% endblock %}