{% extends "base_template.html" %}
       
    {% block body %}

<div class="page_header center">

    <div class="main_container">

                    <h2 class="page_label">Команды участников</h2>
                    <h5 class="page_label_uphead">Данный раздел поможет найти подходящую Вам команду</h5>
        
       
    </div>
</div>


<div class="main_section">

        <div class="main_container">
          <div>
              
              <div class="search_filters">
                  <div class="filter_1" id="filter_1">

                      <div class="window">
                      <div class="filter_header"><p>Количество участников <i class="icon ion-chevron-down" aria-hidden="true"></i></p></div>
                      <div class="container">
                            <div class="checkbox active"><p>1</p></div>
                          <div class="checkbox active"><p>2</p></div>
                          <div class="checkbox active"><p>3</p></div>
                          <div class="checkbox active"><p>4</p></div>

                      </div>

                      
                      </div>
                  </div>
                  <div class="filter_2"  id="filter_2"><p>Только те, которым нужны мои навыки</p></div>
              </div>
              <div class="search_block">

                  <input type="text" id="team_search" placeholder="Название команды...">
                  <label for="team_search"><i class="fa fa-search" aria-hidden="true"></i></label>

              </div>
           </div>
            


            <div class="background_for_all"></div>
            
            <div class="team_output_items">
               
               
              
                
            </div>
        </div>
</div>
{% endblock %}
