{% for team in teams%}
<div class="team_item_container" id="{{team.id}}">
    <div class="team_item">
        <div class="team_avatar" {% if team.avatar %}
        style="background-image:url(/media/{{team.avatar}})"
             {% endif %}> </div>
        <h5>{{team.name}}</h5>
        <p class="look_profile">Посмотреть профиль</p>
        <p class="quantity">{{team.member_count}} участников</p>
        <p class="quantity">йоу{% for skill in team.skills %} {{skill.name}} {% endfor%}</p>

    
    
        {% if team.accept %}
        <div class="invite_you">
            <p>Вы приглашены</p>
        </div>
        {% else %}
        <div class="invite_you not_invited">
            <p>Вы не приглашены</p>
        </div>
        {% endif %}
        
    </div>

    {% if team.join %}
    <div class="main_button join_team requested"><div><p class="button_text">Вы отправили заявку</p>
        <div class="button_icon"><i class="icon ion-checkmark-round"></i><i class="icon ion-close-round"></i><i class="icon ion-plus-round"></i>
        </div>
        
        </div></div>
    {% else %}
    <div class="main_button join_team"><div><p class="button_text">Хочу присоединиться</p> 
        <div class="button_icon"><i class="icon ion-checkmark-round"></i><i class="icon ion-close-round"></i><i class="icon ion-plus-round"></i>
        </div>
        </div></div>
    {% endif %}
</div>
{% endfor %}
   

   