<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/cabinet/css/style.css">
        <link rel="stylesheet" href="/static/cabinet/font-awesome/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="/static/cabinet/ionicons/css/ionicons.min.css">
        <script src="/static/cabinet/js/jquery-3.1.1.min.js"></script>
        
        <script src="/static/cabinet/js/jquery.mask.js"></script>
        <script src="/static/cabinet/js/TweenMax.min.js"></script>
        
        {% block head %}
            <title>Команды</title>
        {% endblock %}
    </head>
    <body>
        
        <div class="popup_window">
            
            <div class="inside_container">
                <p id="popup_text" class="error">Ошибка</p>
            </div>
            
            
        </div>
        
        <div class="accept_window">
            <div class="accept_background"></div>
            <div class="accept_container">
                <div class="accept_head"><div id="accept_exit" class="accept_exit"><i class="icon ion-close-round" aria-hidden="true"></i>
                    
                </div>
                <p class="accept_header">Предупреждение</p></div>
                
                <p class="accept_text">Все данные о команде будут стерты.</p>
                <div class="accept_footer">
                    <button id="cancel_button" class="main_button cancel_button">Отмена</button>
                    <button id="accept_button" class="main_button accept_button">Подтвердить</button>
                </div>
            </div>
        </div>
        <div class="main_section auth_screen">
            <div class="main_container">
                {% block body %}
                    
                    <p class="intro_label">
                        Сброс пароля
                    </p>
                    <p class="intro_description">
                        Введите новый пароль
                    </p>
                    
                    
                    <form class="form_main registration" id="registration_form">
                        {% csrf_token %}
                        <input id="drop_key" type="hidden" value="{{c}}">
                        <div class="input_container">
                            <input id="password" type="password" placeholder="Пароль">
                            <p class="error_output">Ошибка</p>
                        </div>
                        <div class="input_container">
                            <input id="password_confirm" type="password" placeholder="Подтверждение пароля">
                            <p class="error_output">Ошибка</p>
                        </div>
                        
                        <button id="drop_password_button" class="main_button"><div>Сбросить пароль
                            <div class="button_icon"><i class="icon ion-chevron-right"></i></div>
                        </div>
                        </button>
                        

                    </form>
                {% endblock %}
            </div>
        </div>
        <script src="/static/cabinet/js/code.js"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>